<h1, align=center> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;数据科学引论 - Python之道 </h1>

<h1, align=center> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;第4课 数据分析入门 </h1>

<hr>

### 目录 
[**Numpy 库**](#NumPy-库)   
[**Pandas 库**](#Pandas-库)  
[**按国家和年份统计的CO2排放量**](#按国家和年份统计的CO2排放量)  
[**获取数据**](#获取数据)  
[**使用Pandas导入数据**](#使用-Pandas-导入数据)  
[**Dataframe的特性**](#Dataframe-的特性)  
[**对Dataframe求子集**](#对-Dataframe-求子集)  
[**按照条件求子集**](#按照条件求子集)

<hr>

<h1, align="center">NumPy 库</h1>
__NumPy__: 
- 快速
- 多维数组 
- 向量化计算

### NumPy 多维数组
多维数组对象.  
用来在整块数据上执行数学操作.

In [2]:
# to insert a library (a file consisting of Python code) use "import"
import numpy as np

#### 创建多维数组
- 使用 __array__ 函数.  
- 所有元素必须具有 __相同类型__ (同构)

In [3]:
data=np.array([[ 1.9526, -0.246 , -0.8856],
[ 0.5639, 0.2379, 0.9104]])
data

array([[ 1.9526, -0.246 , -0.8856],
       [ 0.5639,  0.2379,  0.9104]])

每个数组都具有 __维数__ 和 __形状__ (一个表示每个维度尺寸的元素)

In [5]:
data.ndim

2

In [6]:
data.shape

(2, 3)

__dtype:__ 描述数组的数据类型的对象:

In [7]:
data.dtype

dtype('float64')

__empty__, __arange__ , __zeros__ 和 **ones** 数组

In [2]:
data1=np.empty((3,2))
data1

array([[0., 0.],
       [0., 0.],
       [0., 0.]])

In [8]:
data0=np.zeros(10)
data0

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [9]:
data3=np.arange(10)
data3

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

### <span style="color: red">轮到你了:</span> 
创建一个 2x4 的数组，数组中元素都是 1，然后获取该数组的数据类型和形状。

In [ ]:
#You code

#### 数据类型

In [4]:
data=np.array([1.25, -9.6, 42], dtype=np.string_)
data

array([b'1.25', b'-9.6', b'42'], dtype='|S4')

可以将该数组强制类型转换为浮点数类型

In [6]:
data.astype(np.float64)

array([ 1.25, -9.6 , 42.  ])

<hr></hr>
<div class="alert alert-success alertsuccess" style="margin-top: 0px">
<h4> [tip] 强制类型转换后，为什么-9.6变成了-9.60000038？ </h4>
<p></p>
这是因为浮点数只是一种近似表达，它几乎总是会存在误差：
<li>简单地讲，浮点数中每一位都表示2的-n次方，32位浮点数最高精度就是2的-32次方。我们可以这样理解，浮点数的表示机制就是用一系列离散的点来表示连续的数轴，点与点之间的距离就是浮点数最高精度位所能表示的数字。除非希望表示的浮点数正好落在这些点上，否则误差总是存在，它总是会近似地表示成最靠近它的某个点所表示的数字。</li>
<li>回到-9.6的例子，就是因为浮点数机制无法精确表示它，但是在能够精确表示的数字中，-9.60000038离它最近，因此用-9.60000038近似表示它。</li>
<p></p>
浮点数的这种机制告诉我们，需要精确表示数据时，不要使用浮点数。
<li>例如，在表示货币金额时，通常会选择使用整数来表示，单位为分，而不会选择使用浮点数来表示。如果我们留意第三方支付服务的接口，就会发现它们清一色都是使用单位为分的整数来表示的。</li>
<p></p>
</div>
<hr></hr>

### 操作

In [12]:
arr= np.array([[1., 2., 3.], [4., 5., 6.]])
arr

array([[1., 2., 3.],
       [4., 5., 6.]])

#### 算数操作

In [13]:
arr * 2

array([[ 2.,  4.,  6.],
       [ 8., 10., 12.]])

In [14]:
arr * arr

array([[ 1.,  4.,  9.],
       [16., 25., 36.]])

<hr></hr>
<div class="alert alert-success alertsuccess" style="margin-top: 0px">
<h4> [tip] **arr*arr**执行的不是矩阵乘法？ </h4>
<p></p>
很遗憾，尽管多维数组看起来就是矩阵，但是**arr*arr**执行的不是矩阵乘法。<br/>
**arr*arr**执行的是将两个矩阵对应位置上元素的乘积作为结果矩阵中对应位置上的元素。所以：
<li>尽管arr是一个2×3的矩阵，按照矩阵乘法的规则，**arr*arr**非法，但是在Python中这是合法操作。</li>
<li>**arr*arr**产生的结果仍旧是一个2×3的矩阵，其中每个元素的值都是arr中对应元素的平方值。</li>
<p></p>
</div>
<hr></hr>

### 索引和切片
用来选择数据子集或单个元素

In [15]:
arr = np.arange(10)
arr

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

与Python的列表相同:

In [16]:
arr[5]

5

In [17]:
arr[5:8]

array([5, 6, 7])

可以将某个值赋给一个切片:

In [18]:
arr[5:8] = 12
arr

array([ 0,  1,  2,  3,  4, 12, 12, 12,  8,  9])

In [19]:
arr[5:]

array([12, 12, 12,  8,  9])

在多维数组中，单个索引对应的元素都不再是具体的值，而是一个数组

In [4]:
arr2d = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
arr2d

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [20]:
arr2d[1][1]

5

In [21]:
arr2d[0][2]   # also: arr2d[0, 2]

3

In [5]:
arr2d[1]

array([4, 5, 6])

切片总是按照先切第0维，再切第1维，以此类推的顺序切。  
例如，下面的代码表示先切出前两行，然后再切出后两列：

In [25]:
arr2d[:2, 1:]

array([[2, 3],
       [5, 6]])

### 布尔索引

In [20]:
data=np.random.rand(7,4)
data

array([[0.43583053, 0.75807465, 0.07531484, 0.13055596],
       [0.71862549, 0.49713043, 0.0262395 , 0.2399416 ],
       [0.88019802, 0.36384049, 0.35017668, 0.94806735],
       [0.43875859, 0.05758334, 0.64402765, 0.93055502],
       [0.77759748, 0.45310094, 0.96506834, 0.56490449],
       [0.2347499 , 0.16136047, 0.68894375, 0.73892787],
       [0.72366737, 0.03267487, 0.13370967, 0.31347589]])

In [21]:
data > 0.4    # Comparison Operators: ==, !=, &, |

array([[ True,  True, False, False],
       [ True,  True, False, False],
       [ True, False, False,  True],
       [ True, False,  True,  True],
       [ True,  True,  True,  True],
       [False, False,  True,  True],
       [ True, False, False, False]])

In [22]:
data[(data>0.4)]

array([0.43583053, 0.75807465, 0.71862549, 0.49713043, 0.88019802,
       0.94806735, 0.43875859, 0.64402765, 0.93055502, 0.77759748,
       0.45310094, 0.96506834, 0.56490449, 0.68894375, 0.73892787,
       0.72366737])

### 函数

In [29]:
arr = np.arange(5)
np.sqrt(arr)   #squar root function

array([ 0.        ,  1.        ,  1.41421356,  1.73205081,  2.        ])

In [30]:
np.exp(arr)   #exponentiation function

array([  1.        ,   2.71828183,   7.3890561 ,  20.08553692,  54.59815003])

In [31]:
np.mean(arr) #average function

2.0

### <span style="color: red">轮到你了:</span>

创建一个3x2的numpy数组 (使用 __ones__ 函数), 然后选择其中的第2行

In [ ]:
## YOUR CODE BELOW

<h1, align="center">Pandas 库</h1>

Pandas
- 可用于大多数类型的数据分析
- 可对结构化或表格化数据进行分析
- 高层数据结构
- 构建在NumPy之上  
- 可进行时间序列操作


对象:  
- Series  
- DataFrame

首先, 导入Pandas包

In [1]:
import pandas as pd

### Series

Series是一种类似一维数组的对象，其中包含了一个数据数组(可以具有任何NumPy的数据类型)和一个被称为索引的由数据标号构成的关联数组。

In [3]:
obj2 = pd.Series([4, 7, -5, 3], index=['d', 'b', 'a', 'c'])
obj2

d    4
b    7
a   -5
c    3
dtype: int64

In [25]:
obj2[['c', 'a', 'd']]

c    3
a   -5
d    4
dtype: int64

In [4]:
'e' in obj2

False

### DataFrame
- 表示一种类似电子表格的数据结构
- 每一列都可以包含不同的值类型(数值型, 字符串, 布尔型, 等等)
- 具有行和列索引

<h1, align="center">按国家和年份统计的CO2排放量</h1>

二氧化碳排放源自燃烧化石燃料和水泥制造，包含了在固体、液体和气体燃料消耗以及放空燃烧过程中所产生的二氧化碳

http://data.worldbank.org/indicator/EN.ATM.CO2E.PC/

<h2, align=center>获取数据</h2>

这些数据可以从世界银行(World Bank) [链接](http://data.worldbank.org/indicator/EN.ATM.CO2E.PC/) 或者从 Box [链接](https://ibm.box.com/shared/static/3yzxbbizo49bkl8cnjw15tymzfwkycj4.csv) 上下载

#### 我们在linux下可以使用bash命令 `wget` 从链接处获取 csv 文件

In [ ]:
!wget --output-document /resources/data/co2emissions.csv https://ibm.box.com/shared/static/3yzxbbizo49bkl8cnjw15tymzfwkycj4.csv

<hr>

<h2, align=center>使用 Pandas 导入数据</h2>

#### 导入所需的 `pandas` 库

In [28]:
import pandas as pd

#### 使用 `pd.read_csv` 导入数据

In [31]:
data = pd.read_csv("resources/data/co2emissions.csv", skiprows = 4)

In [32]:
type(data) #Checks the type of object

pandas.core.frame.DataFrame

In [33]:
data

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,Unnamed: 60
0,Aruba,ABW,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,25.613715,24.750133,24.876706,24.182702,23.922412,NaN,NaN,NaN,NaN,NaN
1,Andorra,AND,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,6.350868,6.296125,6.049173,6.124770,5.968685,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.046068,0.053615,0.073781,0.074251,0.086317,0.101499,...,0.088141,0.158962,0.249074,0.302936,0.425262,NaN,NaN,NaN,NaN,NaN
3,Angola,AGO,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.104357,0.084718,0.216025,0.206877,0.216174,0.206089,...,1.311096,1.369425,1.430873,1.401654,1.354008,NaN,NaN,NaN,NaN,NaN
4,Albania,ALB,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1.258195,1.374186,1.439956,1.181681,1.111742,1.166099,...,1.507536,1.580113,1.533178,1.515632,1.607038,NaN,NaN,NaN,NaN,NaN
5,Arab World,ARB,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.643964,0.685501,0.761148,0.875124,0.999248,1.166075,...,4.181153,4.373573,4.575251,4.764912,4.724500,NaN,NaN,NaN,NaN,NaN
6,United Arab Emirates,ARE,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.118786,0.108937,0.163355,0.175712,0.132651,0.146370,...,23.195067,23.033600,21.102296,20.120957,20.433838,NaN,NaN,NaN,NaN,NaN
7,Argentina,ARG,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,2.367473,2.442616,2.522392,2.316356,2.538380,2.641714,...,4.496834,4.744178,4.427960,4.342272,4.562049,NaN,NaN,NaN,NaN,NaN
8,Armenia,ARM,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,1.694755,1.868611,1.469961,1.422998,1.671657,NaN,NaN,NaN,NaN,NaN
9,American Samoa,ASM,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Antigua and Barbuda,ATG,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.670617,0.860441,1.823374,1.470175,1.567094,2.520359,...,5.561525,5.628319,5.906292,6.011269,5.823804,NaN,NaN,NaN,NaN,NaN
11,Australia,AUS,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,8.582937,8.641569,8.835688,9.226440,9.759073,10.622321,...,17.467002,17.704080,17.631833,16.710904,16.519210,NaN,NaN,NaN,NaN,NaN
12,Austria,AUT,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,4.373319,4.496362,4.755362,5.155194,5.391004,5.252197,...,8.405093,8.262046,7.608851,8.127693,7.769983,NaN,NaN,NaN,NaN,NaN
13,Azerbaijan,AZE,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,3.555340,4.051383,3.565668,3.388226,3.647379,NaN,NaN,NaN,NaN,NaN
14,Burundi,BDI,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,0.015203,0.016155,0.015827,0.011910,...,0.021964,0.021615,0.020868,0.020542,0.021350,NaN,NaN,NaN,NaN,NaN
15,Belgium,BEL,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,9.941594,10.103872,10.641190,11.386929,11.053655,11.141656,...,9.713718,9.699599,9.634776,9.989976,8.849398,NaN,NaN,NaN,NaN,NaN
16,Benin,BEN,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.066354,0.052046,0.054202,0.047580,0.055295,0.057115,...,0.516299,0.500183,0.514278,0.541771,0.509962,NaN,NaN,NaN,NaN,NaN
17,Burkina Faso,BFA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.009112,0.018730,0.017003,0.017504,0.021575,0.019841,...,0.115429,0.115427,0.109774,0.107673,0.119981,NaN,NaN,NaN,NaN,NaN
18,Bangladesh,BGD,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,0.319840,0.334440,0.352155,0.370360,0.372017,NaN,NaN,NaN,NaN,NaN
19,Bulgaria,BGR,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,2.833901,3.269920,3.835892,4.259781,5.262988,5.645652,...,6.916687,6.778939,5.729716,5.966884,6.714383,NaN,NaN,NaN,NaN,NaN
20,Bahrain,BHR,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,3.542864,10.547396,9.193609,6.714156,8.747480,6.557022,...,21.443296,21.519995,18.136234,18.435025,17.947330,NaN,NaN,NaN,NaN,NaN
21,"Bahamas, The",BHS,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,3.749831,4.746699,5.996432,5.558199,8.118597,9.399946,...,4.521354,2.998089,4.630520,6.829321,5.199844,NaN,NaN,NaN,NaN,NaN
22,Bosnia and Herzegovina,BIH,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,4.580387,5.231547,5.371890,5.513994,6.196652,NaN,NaN,NaN,NaN,NaN
23,Belarus,BLR,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,6.305629,6.592749,6.341939,6.556550,6.682510,NaN,NaN,NaN,NaN,NaN
24,Belize,BLZ,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.477951,0.387219,0.715409,0.622357,0.818289,0.794763,...,1.536094,1.473196,1.495185,1.721709,1.670904,NaN,NaN,NaN,NaN,NaN
25,Bermuda,BMU,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,3.551374,3.868484,3.383712,3.151929,4.124438,3.586487,...,7.968299,5.955020,7.095329,7.320036,6.077210,NaN,NaN,NaN,NaN,NaN
26,Bolivia,BOL,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.272038,0.276621,0.286626,0.310159,0.371216,0.371151,...,1.318204,1.412189,1.459841,1.547659,1.599499,NaN,NaN,NaN,NaN,NaN
27,Brazil,BRA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.647068,0.658625,0.697281,0.700749,0.694001,0.670372,...,1.884034,1.990429,1.866522,2.113415,2.191394,NaN,NaN,NaN,NaN,NaN
28,Barbados,BRB,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.746313,0.838899,1.119411,0.816330,0.766085,0.872454,...,5.178741,5.871114,5.833678,5.430338,5.580178,NaN,NaN,NaN,NaN,NaN
29,Brunei Darussalam,BRN,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,4.078179,3.552009,4.133422,3.798174,3.482289,3.254787,...,24.178409,26.338271,22.149029,21.873222,24.392013,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
219,Thailand,THA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.135586,0.146944,0.173130,0.185877,0.242240,0.234151,...,3.994687,3.984060,4.198512,4.470426,4.534492,NaN,NaN,NaN,NaN,NaN
220,Tajikistan,TJK,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,0.463345,0.409462,0.382775,0.373873,0.358948,NaN,NaN,NaN,NaN,NaN
221,Turkmenistan,TKM,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,11.535622,11.557572,10.110661,11.358111,12.183667,NaN,NaN,NaN,NaN,NaN
222,Timor-Leste,TLS,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,0.180962,0.185017,0.174891,0.171932,0.163648,NaN,NaN,NaN,NaN,NaN
223,Tonga,TON,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.178588,0.172592,0.166040,0.159435,0.153309,0.147936,...,1.112637,1.176967,1.276514,1.128883,0.983562,NaN,NaN,NaN,NaN,NaN
224,Trinidad and Tobago,TTO,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,3.042576,5.318141,8.225570,1.466683,4.201774,5.694904,...,36.816763,35.455298,36.569448,38.337841,37.140054,NaN,NaN,NaN,NaN,NaN
225,Tunisia,TUN,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.409211,0.413220,0.412987,0.438885,0.608626,0.532230,...,2.357974,2.403508,2.374157,2.535619,2.402456,NaN,NaN,NaN,NaN,NaN
226,Turkey,TUR,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.610473,0.615079,0.748241,0.765934,0.869390,0.883506,...,4.094889,4.055397,3.898959,4.121155,4.383105,NaN,NaN,NaN,NaN,NaN
227,Tuvalu,TUV,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
228,"Taiwan, China",TWN,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
229,Tanzania,TZA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.082261,0.067872,0.071734,0.072968,0.091197,0.099494,...,0.144041,0.147982,0.139973,0.150059,0.154935,NaN,NaN,NaN,NaN,NaN
230,Uganda,UGA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.062123,0.058093,0.059258,0.057791,0.063435,0.078242,...,0.104293,0.101919,0.105320,0.108297,0.110887,NaN,NaN,NaN,NaN,NaN
231,Ukraine,UKR,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,6.910708,6.724046,5.647014,6.638152,6.262352,NaN,NaN,NaN,NaN,NaN
232,Upper middle income,UMC,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1.288256,1.057435,0.957318,0.955719,0.982914,1.036033,...,4.689606,4.838241,5.074839,5.359268,5.710659,NaN,NaN,NaN,NaN,NaN
233,Uruguay,URY,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1.701583,1.602723,1.540657,1.639285,1.710101,2.049519,...,1.796306,2.471054,2.401221,1.912605,2.296201,NaN,NaN,NaN,NaN,NaN
234,United States,USA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,15.999779,15.681256,16.013937,16.482762,16.968119,17.451725,...,19.237460,18.489234,17.192379,17.484792,17.020216,NaN,NaN,NaN,NaN,NaN
235,Uzbekistan,UZB,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,4.391447,4.434466,3.912053,3.693268,3.914921,NaN,NaN,NaN,NaN,NaN
236,St. Vincent and the Grenadines,VCT,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.135902,0.133923,0.132214,0.174273,0.215513,0.170614,...,2.084879,2.116255,2.114512,2.146877,2.179923,NaN,NaN,NaN,NaN,NaN
237,"Venezuela, RB",VEN,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,7.005107,6.136886,6.155057,6.155748,5.973226,6.187252,...,5.868518,6.604892,6.525293,6.811756,6.416334,NaN,NaN,NaN,NaN,NaN
238,Virgin Islands (U.S.),VIR,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
239,Vietnam,VNM,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.215631,0.225435,0.258760,0.247579,0.314058,0.343354,...,1.352791,1.497496,1.636371,1.761695,1.971889,NaN,NaN,NaN,NaN,NaN
240,Vanuatu,VUT,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,0.594888,0.471728,0.864247,0.641714,...,0.433459,0.406839,0.508463,0.496591,0.591266,NaN,NaN,NaN,NaN,NaN
241,West Bank and Gaza,PSE,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,0.665297,0.570947,0.564578,0.534015,0.572407,NaN,NaN,NaN,NaN,NaN
242,World,WLD,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,3.096144,3.067062,3.138020,3.242364,3.358696,3.437595,...,4.686122,4.741826,4.663120,4.840436,4.944676,NaN,NaN,NaN,NaN,NaN
243,Samoa,WSM,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.135009,0.163529,0.158352,0.184019,0.208092,0.230869,...,1.026224,1.039490,1.072106,1.103871,1.252110,NaN,NaN,NaN,NaN,NaN
244,"Yemen, Rep.",YEM,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.703403,0.507631,0.728004,0.537606,0.658012,0.699574,...,0.981422,0.989905,1.026251,1.090060,0.919968,NaN,NaN,NaN,NaN,NaN
245,South Africa,ZAF,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,5.629718,5.694383,5.729712,5.799844,6.170936,6.467359,...,9.063326,9.506481,9.545495,8.957154,9.257216,NaN,NaN,NaN,NaN,NaN
246,"Congo, Dem. Rep.",COD,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.152228,0.150782,0.135559,0.139446,0.116926,0.142290,...,0.047312,0.048411,0.045604,0.049328,0.050303,NaN,NaN,NaN,NaN,NaN
247,Zambia,ZMB,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,0.950434,1.100197,...,0.150265,0.164692,0.184058,0.192079,0.212450,NaN,NaN,NaN,NaN,NaN
248,Zimbabwe,ZWE,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,1.045374,1.179176,...,0.731867,0.569255,0.600521,0.646073,0.691698,NaN,NaN,NaN,NaN,NaN

<h2, align=center>Dataframe 的操作</h2>

#### 使用 `head` 显示 `data`  的前5行

In [34]:
data.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,Unnamed: 60
0,Aruba,ABW,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,25.613715,24.750133,24.876706,24.182702,23.922412,NaN,NaN,NaN,NaN,NaN
1,Andorra,AND,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,6.350868,6.296125,6.049173,6.124770,5.968685,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.046068,0.053615,0.073781,0.074251,0.086317,0.101499,...,0.088141,0.158962,0.249074,0.302936,0.425262,NaN,NaN,NaN,NaN,NaN
3,Angola,AGO,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.104357,0.084718,0.216025,0.206877,0.216174,0.206089,...,1.311096,1.369425,1.430873,1.401654,1.354008,NaN,NaN,NaN,NaN,NaN
4,Albania,ALB,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1.258195,1.374186,1.439956,1.181681,1.111742,1.166099,...,1.507536,1.580113,1.533178,1.515632,1.607038,NaN,NaN,NaN,NaN,NaN

#### 使用 `head` 获取前2行

In [ ]:
data.head(2)

In [19]:
data.head(n=2)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,Unnamed: 60
0,Aruba,ABW,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,25.613715,24.750133,24.876706,24.182702,23.922412,NaN,NaN,NaN,NaN,NaN
1,Andorra,AND,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,6.350868,6.296125,6.049173,6.124770,5.968685,NaN,NaN,NaN,NaN,NaN

### 不记得需要向函数传递什么参数了？可以使用 `?`

In [22]:
#To close help window, press q
? data.head

#### 显示最后3行数据

In [23]:
data.tail(3)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,Unnamed: 60
246,"Congo, Dem. Rep.",COD,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.152228,0.150782,0.135559,0.139446,0.116926,0.142290,...,0.047312,0.048411,0.045604,0.049328,0.050303,NaN,NaN,NaN,NaN,NaN
247,Zambia,ZMB,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,0.950434,1.100197,...,0.150265,0.164692,0.184058,0.192079,0.212450,NaN,NaN,NaN,NaN,NaN
248,Zimbabwe,ZWE,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,1.045374,1.179176,...,0.731867,0.569255,0.600521,0.646073,0.691698,NaN,NaN,NaN,NaN,NaN

<hr>

<h2, align=center>Dataframe 的特性</h2>

#### 有多少行和多少列?

In [43]:
data.shape #(rows, columns)

(249, 61)

In [35]:
data.describe()

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,Unnamed: 60
count,180.000000,181.000000,182.000000,183.000000,188.000000,188.000000,188.000000,188.000000,187.000000,188.000000,...,232.000000,232.000000,232.000000,232.000000,232.000000,0.0,0.0,0.0,0.0,0.0
mean,2.147848,2.273331,2.382827,2.925962,3.076591,3.203665,3.216921,3.287063,3.515189,4.136080,...,5.023040,4.980116,4.755409,4.911618,4.884828,NaN,NaN,NaN,NaN,NaN
std,4.348322,4.542379,4.889944,8.741776,8.776709,8.964691,8.309355,7.504329,7.450713,10.208690,...,6.598310,6.328807,5.975440,6.100080,6.051724,NaN,NaN,NaN,NaN,NaN
min,0.008022,0.007897,0.008481,0.009390,0.011598,0.011910,0.013258,0.011800,0.015594,0.016116,...,0.021964,0.021615,0.020868,0.020542,0.021350,NaN,NaN,NaN,NaN,NaN
25%,0.176743,0.173541,0.196524,0.192676,0.213766,0.229534,0.231413,0.241491,0.269411,0.318197,...,0.765607,0.776208,0.793028,0.797337,0.829105,NaN,NaN,NaN,NaN,NaN
50%,0.606451,0.646400,0.657922,0.655980,0.726711,0.716547,0.760381,0.785352,0.884673,0.910402,...,2.893936,2.989729,2.958360,2.943880,3.045189,NaN,NaN,NaN,NaN,NaN
75%,1.960040,2.442616,2.674866,2.211640,2.404358,2.609091,3.256631,3.997464,4.279434,4.267795,...,7.219751,7.022516,6.522355,6.816148,6.711322,NaN,NaN,NaN,NaN,NaN
max,36.685183,36.583778,42.637118,99.575940,92.969565,85.563167,78.734608,77.629183,76.104350,99.840439,...,55.336800,48.601620,44.836401,42.639076,44.018926,NaN,NaN,NaN,NaN,NaN

#### 列名有哪些?

In [36]:
data.columns

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', 'Unnamed: 60'],
      dtype='object')

#### 第一列的名字是什么?

In [46]:
data.columns[0]

'Country Name'

#### 第一列和第二列的名字是什么?

In [47]:
data.columns[[0,1]]

Index(['Country Name', 'Country Code'], dtype='object')

<hr>

## 复习

### <span style="color: red">轮到你了:</span>

#### 打印 `data` 的前3行

In [ ]:
## YOUR CODE BELOW

#### 打印第一列和最后一列的名字

In [ ]:
## YOUR CODE BELOW

<hr>

<h2, align=center>对 Dataframe 求子集</h2>

### 选择列

#### 按名字选择列:

In [48]:
data['Country Name']

0                               Aruba
1                             Andorra
2                         Afghanistan
3                              Angola
4                             Albania
5                          Arab World
6                United Arab Emirates
7                           Argentina
8                             Armenia
9                      American Samoa
10                Antigua and Barbuda
11                          Australia
12                            Austria
13                         Azerbaijan
14                            Burundi
15                            Belgium
16                              Benin
17                       Burkina Faso
18                         Bangladesh
19                           Bulgaria
20                            Bahrain
21                       Bahamas, The
22             Bosnia and Herzegovina
23                            Belarus
24                             Belize
25                            Bermuda
26                            Bolivia
27                             Brazil
28                           Barbados
29                  Brunei Darussalam
                    ...
219                          Thailand
220                        Tajikistan
221                      Turkmenistan
222                       Timor-Leste
223                             Tonga
224               Trinidad and Tobago
225                           Tunisia
226                            Turkey
227                            Tuvalu
228                     Taiwan, China
229                          Tanzania
230                            Uganda
231                           Ukraine
232               Upper middle income
233                           Uruguay
234                     United States
235                        Uzbekistan
236    St. Vincent and the Grenadines
237                     Venezuela, RB
238             Virgin Islands (U.S.)
239                           Vietnam
240                           Vanuatu
241                West Bank and Gaza
242                             World
243                             Samoa
244                       Yemen, Rep.
245                      South Africa
246                  Congo, Dem. Rep.
247                            Zambia
248                          Zimbabwe
Name: Country Name, dtype: object

#### 按列号选择列:

In [49]:
data[data.columns[0]]

0                               Aruba
1                             Andorra
2                         Afghanistan
3                              Angola
4                             Albania
5                          Arab World
6                United Arab Emirates
7                           Argentina
8                             Armenia
9                      American Samoa
10                Antigua and Barbuda
11                          Australia
12                            Austria
13                         Azerbaijan
14                            Burundi
15                            Belgium
16                              Benin
17                       Burkina Faso
18                         Bangladesh
19                           Bulgaria
20                            Bahrain
21                       Bahamas, The
22             Bosnia and Herzegovina
23                            Belarus
24                             Belize
25                            Bermuda
26                            Bolivia
27                             Brazil
28                           Barbados
29                  Brunei Darussalam
                    ...
219                          Thailand
220                        Tajikistan
221                      Turkmenistan
222                       Timor-Leste
223                             Tonga
224               Trinidad and Tobago
225                           Tunisia
226                            Turkey
227                            Tuvalu
228                     Taiwan, China
229                          Tanzania
230                            Uganda
231                           Ukraine
232               Upper middle income
233                           Uruguay
234                     United States
235                        Uzbekistan
236    St. Vincent and the Grenadines
237                     Venezuela, RB
238             Virgin Islands (U.S.)
239                           Vietnam
240                           Vanuatu
241                West Bank and Gaza
242                             World
243                             Samoa
244                       Yemen, Rep.
245                      South Africa
246                  Congo, Dem. Rep.
247                            Zambia
248                          Zimbabwe
Name: Country Name, dtype: object

#### 选择最后一列:

In [ ]:
data[data.columns[-1]]

#### 按名字选择由多列构成子集

In [50]:
data[['Country Name', 'Country Code']]

                       Country Name Country Code
0                             Aruba          ABW
1                           Andorra          AND
2                       Afghanistan          AFG
3                            Angola          AGO
4                           Albania          ALB
5                        Arab World          ARB
6              United Arab Emirates          ARE
7                         Argentina          ARG
8                           Armenia          ARM
9                    American Samoa          ASM
10              Antigua and Barbuda          ATG
11                        Australia          AUS
12                          Austria          AUT
13                       Azerbaijan          AZE
14                          Burundi          BDI
15                          Belgium          BEL
16                            Benin          BEN
17                     Burkina Faso          BFA
18                       Bangladesh          BGD
19                         Bulgaria          BGR
20                          Bahrain          BHR
21                     Bahamas, The          BHS
22           Bosnia and Herzegovina          BIH
23                          Belarus          BLR
24                           Belize          BLZ
25                          Bermuda          BMU
26                          Bolivia          BOL
27                           Brazil          BRA
28                         Barbados          BRB
29                Brunei Darussalam          BRN
..                              ...          ...
219                        Thailand          THA
220                      Tajikistan          TJK
221                    Turkmenistan          TKM
222                     Timor-Leste          TLS
223                           Tonga          TON
224             Trinidad and Tobago          TTO
225                         Tunisia          TUN
226                          Turkey          TUR
227                          Tuvalu          TUV
228                   Taiwan, China          TWN
229                        Tanzania          TZA
230                          Uganda          UGA
231                         Ukraine          UKR
232             Upper middle income          UMC
233                         Uruguay          URY
234                   United States          USA
235                      Uzbekistan          UZB
236  St. Vincent and the Grenadines          VCT
237                   Venezuela, RB          VEN
238           Virgin Islands (U.S.)          VIR
239                         Vietnam          VNM
240                         Vanuatu          VUT
241              West Bank and Gaza          PSE
242                           World          WLD
243                           Samoa          WSM
244                     Yemen, Rep.          YEM
245                    South Africa          ZAF
246                Congo, Dem. Rep.          COD
247                          Zambia          ZMB
248                        Zimbabwe          ZWE

[249 rows x 2 columns]

### 选择行

若干种方式:

In [51]:
data[0:2] #First and second row

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,Unnamed: 60
0,Aruba,ABW,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,25.613715,24.750133,24.876706,24.182702,23.922412,NaN,NaN,NaN,NaN,NaN
1,Andorra,AND,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,6.350868,6.296125,6.049173,6.124770,5.968685,NaN,NaN,NaN,NaN,NaN

In [52]:
data[:2]

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,Unnamed: 60
0,Aruba,ABW,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,25.613715,24.750133,24.876706,24.182702,23.922412,NaN,NaN,NaN,NaN,NaN
1,Andorra,AND,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,6.350868,6.296125,6.049173,6.124770,5.968685,NaN,NaN,NaN,NaN,NaN

In [53]:
data.iloc[[0,2]] #First and third rows

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,Unnamed: 60
0,Aruba,ABW,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,25.613715,24.750133,24.876706,24.182702,23.922412,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.046068,0.053615,0.073781,0.074251,0.086317,0.101499,...,0.088141,0.158962,0.249074,0.302936,0.425262,NaN,NaN,NaN,NaN,NaN

In [54]:
data[0:2]['Country Name']

0      Aruba
1    Andorra
Name: Country Name, dtype: object

In [55]:
data.ix[0:3,1:4] #First row

  Country Code                          Indicator Name  Indicator Code
0          ABW  CO2 emissions (metric tons per capita)  EN.ATM.CO2E.PC
1          AND  CO2 emissions (metric tons per capita)  EN.ATM.CO2E.PC
2          AFG  CO2 emissions (metric tons per capita)  EN.ATM.CO2E.PC
3          AGO  CO2 emissions (metric tons per capita)  EN.ATM.CO2E.PC

#### 选择最后一行

In [ ]:
data.iloc[-1]

<h2, align=center>按照条件求子集</h2>

回忆: 有多种逻辑操作符可以用来创建逻辑语句:

In [1]:
1 == 2

False

In [2]:
"Me" != "You"

True

In [3]:
1000 > 1

True

在将一条逻辑语句应用到数组上时，会返回一个由True/False构成的数组，取值对应于该逻辑语句。

In [37]:
import numpy as np
my_range = np.array(range(1,100))
my_range

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51,
       52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68,
       69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85,
       86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99])

In [38]:
result = my_range > 50
result

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True])

然后，我们可以使用这个True/False数组来返回只包含原来数组中对应 true 的那些值。

In [39]:
my_range[result]

array([51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
       68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84,
       85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99])

#### 基于单一条件选择行

In [59]:
data['Country Name']

0                               Aruba
1                             Andorra
2                         Afghanistan
3                              Angola
4                             Albania
5                          Arab World
6                United Arab Emirates
7                           Argentina
8                             Armenia
9                      American Samoa
10                Antigua and Barbuda
11                          Australia
12                            Austria
13                         Azerbaijan
14                            Burundi
15                            Belgium
16                              Benin
17                       Burkina Faso
18                         Bangladesh
19                           Bulgaria
20                            Bahrain
21                       Bahamas, The
22             Bosnia and Herzegovina
23                            Belarus
24                             Belize
25                            Bermuda
26                            Bolivia
27                             Brazil
28                           Barbados
29                  Brunei Darussalam
                    ...
219                          Thailand
220                        Tajikistan
221                      Turkmenistan
222                       Timor-Leste
223                             Tonga
224               Trinidad and Tobago
225                           Tunisia
226                            Turkey
227                            Tuvalu
228                     Taiwan, China
229                          Tanzania
230                            Uganda
231                           Ukraine
232               Upper middle income
233                           Uruguay
234                     United States
235                        Uzbekistan
236    St. Vincent and the Grenadines
237                     Venezuela, RB
238             Virgin Islands (U.S.)
239                           Vietnam
240                           Vanuatu
241                West Bank and Gaza
242                             World
243                             Samoa
244                       Yemen, Rep.
245                      South Africa
246                  Congo, Dem. Rep.
247                            Zambia
248                          Zimbabwe
Name: Country Name, dtype: object

In [60]:
#Data where the country name is Albania. Returns True/False
data['Country Name'] == 'Albania'

0      False
1      False
2      False
3      False
4       True
5      False
6      False
7      False
8      False
9      False
10     False
11     False
12     False
13     False
14     False
15     False
16     False
17     False
18     False
19     False
20     False
21     False
22     False
23     False
24     False
25     False
26     False
27     False
28     False
29     False
       ...
219    False
220    False
221    False
222    False
223    False
224    False
225    False
226    False
227    False
228    False
229    False
230    False
231    False
232    False
233    False
234    False
235    False
236    False
237    False
238    False
239    False
240    False
241    False
242    False
243    False
244    False
245    False
246    False
247    False
248    False
Name: Country Name, dtype: bool

In [61]:
data[data['Country Code'] == 'CHN'] #Subset based on condition

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,Unnamed: 60
38,China,CHN,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1.170381,0.836047,0.661428,0.640002,0.625646,0.665524,...,5.153564,5.311152,5.778143,6.172489,6.710302,NaN,NaN,NaN,NaN,NaN

#### 基于多重条件选择行

In [62]:
data[(data['Country Name'] == 'China') & (data['Country Code'] == 'CHN')]

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,Unnamed: 60
38,China,CHN,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1.170381,0.836047,0.661428,0.640002,0.625646,0.665524,...,5.153564,5.311152,5.778143,6.172489,6.710302,NaN,NaN,NaN,NaN,NaN

#### 为什么下面的语句不会返回任何符合条件的行?

In [63]:
data[(data['Country Name'] == 'Canada') & (data['Country Code'] == 'CHN')]

Empty DataFrame
Columns: [Country Name, Country Code, Indicator Name, Indicator Code, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, Unnamed: 60]
Index: []

[0 rows x 61 columns]

### 按行和列选择数据

下面的代码产生什么结果?

In [64]:
data[['Country Name', 'Country Code', '2010']][16:21]

    Country Name Country Code       2010
16         Benin          BEN   0.541771
17  Burkina Faso          BFA   0.107673
18    Bangladesh          BGD   0.370360
19      Bulgaria          BGR   5.966884
20       Bahrain          BHR  18.435025

<hr>

## 复习

### <span style="color: red">轮到你了:</span> 
<h3>查找法国和德国在2010和2011年的人均CO2排放量</h3>

你应该产生像下面这样的输出:

<img src = https://ibm.box.com/shared/static/23drzeu5h2uydwhb0un9qa4jq9yzrjbi.png, width = 300>

In [ ]:
#hint
# data['Country Name']== ??
# data[['Country Name', '2010', '2011']].iloc[[??,??]]

In [ ]:
## YOUR CODE BELOW

<hr>