<h1, align=center> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;数据科学引论 - Python之道 </h1>

<h1, align=center> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;第4课 数据清洗 </h1>

<hr>

<h1, align="center">按国家和年份统计的CO2排放量</h1>

二氧化碳排放源自燃烧化石燃料和水泥制造，包含了在固体、液体和气体燃料消耗以及放空燃烧过程中所产生的二氧化碳

http://data.worldbank.org/indicator/EN.ATM.CO2E.PC/

<h2, align=center>获取数据</h2>

这些数据可以从世界银行(World Bank) [链接](http://data.worldbank.org/indicator/EN.ATM.CO2E.PC/) 或者从 Box [链接](https://ibm.box.com/shared/static/3yzxbbizo49bkl8cnjw15tymzfwkycj4.csv) 上下载

#### 我们在linux下可以使用bash命令 `wget` 从链接处获取 csv 文件

In [ ]:
!wget --output-document /resources/data/co2emissions.csv https://ibm.box.com/shared/static/3yzxbbizo49bkl8cnjw15tymzfwkycj4.csv

<hr>

<h2, align=center>使用 Pandas 导入数据</h2>

#### 导入所需的 `pandas` 库

In [1]:
import pandas as pd

#### 使用 `pd.read_csv` 导入数据

In [2]:
data = pd.read_csv("resources/data/co2emissions.csv", skiprows = 4)

#### 使用 `head` 显示 `data`  的前5行

In [3]:
data

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,Unnamed: 60
0,Aruba,ABW,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,25.613715,24.750133,24.876706,24.182702,23.922412,NaN,NaN,NaN,NaN,NaN
1,Andorra,AND,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,6.350868,6.296125,6.049173,6.124770,5.968685,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.046068,0.053615,0.073781,0.074251,0.086317,0.101499,...,0.088141,0.158962,0.249074,0.302936,0.425262,NaN,NaN,NaN,NaN,NaN
3,Angola,AGO,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.104357,0.084718,0.216025,0.206877,0.216174,0.206089,...,1.311096,1.369425,1.430873,1.401654,1.354008,NaN,NaN,NaN,NaN,NaN
4,Albania,ALB,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1.258195,1.374186,1.439956,1.181681,1.111742,1.166099,...,1.507536,1.580113,1.533178,1.515632,1.607038,NaN,NaN,NaN,NaN,NaN
5,Arab World,ARB,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.643964,0.685501,0.761148,0.875124,0.999248,1.166075,...,4.181153,4.373573,4.575251,4.764912,4.724500,NaN,NaN,NaN,NaN,NaN
6,United Arab Emirates,ARE,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.118786,0.108937,0.163355,0.175712,0.132651,0.146370,...,23.195067,23.033600,21.102296,20.120957,20.433838,NaN,NaN,NaN,NaN,NaN
7,Argentina,ARG,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,2.367473,2.442616,2.522392,2.316356,2.538380,2.641714,...,4.496834,4.744178,4.427960,4.342272,4.562049,NaN,NaN,NaN,NaN,NaN
8,Armenia,ARM,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,1.694755,1.868611,1.469961,1.422998,1.671657,NaN,NaN,NaN,NaN,NaN
9,American Samoa,ASM,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Antigua and Barbuda,ATG,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.670617,0.860441,1.823374,1.470175,1.567094,2.520359,...,5.561525,5.628319,5.906292,6.011269,5.823804,NaN,NaN,NaN,NaN,NaN
11,Australia,AUS,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,8.582937,8.641569,8.835688,9.226440,9.759073,10.622321,...,17.467002,17.704080,17.631833,16.710904,16.519210,NaN,NaN,NaN,NaN,NaN
12,Austria,AUT,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,4.373319,4.496362,4.755362,5.155194,5.391004,5.252197,...,8.405093,8.262046,7.608851,8.127693,7.769983,NaN,NaN,NaN,NaN,NaN
13,Azerbaijan,AZE,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,3.555340,4.051383,3.565668,3.388226,3.647379,NaN,NaN,NaN,NaN,NaN
14,Burundi,BDI,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,0.015203,0.016155,0.015827,0.011910,...,0.021964,0.021615,0.020868,0.020542,0.021350,NaN,NaN,NaN,NaN,NaN
15,Belgium,BEL,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,9.941594,10.103872,10.641190,11.386929,11.053655,11.141656,...,9.713718,9.699599,9.634776,9.989976,8.849398,NaN,NaN,NaN,NaN,NaN
16,Benin,BEN,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.066354,0.052046,0.054202,0.047580,0.055295,0.057115,...,0.516299,0.500183,0.514278,0.541771,0.509962,NaN,NaN,NaN,NaN,NaN
17,Burkina Faso,BFA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.009112,0.018730,0.017003,0.017504,0.021575,0.019841,...,0.115429,0.115427,0.109774,0.107673,0.119981,NaN,NaN,NaN,NaN,NaN
18,Bangladesh,BGD,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,0.319840,0.334440,0.352155,0.370360,0.372017,NaN,NaN,NaN,NaN,NaN
19,Bulgaria,BGR,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,2.833901,3.269920,3.835892,4.259781,5.262988,5.645652,...,6.916687,6.778939,5.729716,5.966884,6.714383,NaN,NaN,NaN,NaN,NaN
20,Bahrain,BHR,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,3.542864,10.547396,9.193609,6.714156,8.747480,6.557022,...,21.443296,21.519995,18.136234,18.435025,17.947330,NaN,NaN,NaN,NaN,NaN
21,"Bahamas, The",BHS,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,3.749831,4.746699,5.996432,5.558199,8.118597,9.399946,...,4.521354,2.998089,4.630520,6.829321,5.199844,NaN,NaN,NaN,NaN,NaN
22,Bosnia and Herzegovina,BIH,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,4.580387,5.231547,5.371890,5.513994,6.196652,NaN,NaN,NaN,NaN,NaN
23,Belarus,BLR,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,6.305629,6.592749,6.341939,6.556550,6.682510,NaN,NaN,NaN,NaN,NaN
24,Belize,BLZ,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.477951,0.387219,0.715409,0.622357,0.818289,0.794763,...,1.536094,1.473196,1.495185,1.721709,1.670904,NaN,NaN,NaN,NaN,NaN
25,Bermuda,BMU,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,3.551374,3.868484,3.383712,3.151929,4.124438,3.586487,...,7.968299,5.955020,7.095329,7.320036,6.077210,NaN,NaN,NaN,NaN,NaN
26,Bolivia,BOL,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.272038,0.276621,0.286626,0.310159,0.371216,0.371151,...,1.318204,1.412189,1.459841,1.547659,1.599499,NaN,NaN,NaN,NaN,NaN
27,Brazil,BRA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.647068,0.658625,0.697281,0.700749,0.694001,0.670372,...,1.884034,1.990429,1.866522,2.113415,2.191394,NaN,NaN,NaN,NaN,NaN
28,Barbados,BRB,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.746313,0.838899,1.119411,0.816330,0.766085,0.872454,...,5.178741,5.871114,5.833678,5.430338,5.580178,NaN,NaN,NaN,NaN,NaN
29,Brunei Darussalam,BRN,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,4.078179,3.552009,4.133422,3.798174,3.482289,3.254787,...,24.178409,26.338271,22.149029,21.873222,24.392013,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
219,Thailand,THA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.135586,0.146944,0.173130,0.185877,0.242240,0.234151,...,3.994687,3.984060,4.198512,4.470426,4.534492,NaN,NaN,NaN,NaN,NaN
220,Tajikistan,TJK,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,0.463345,0.409462,0.382775,0.373873,0.358948,NaN,NaN,NaN,NaN,NaN
221,Turkmenistan,TKM,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,11.535622,11.557572,10.110661,11.358111,12.183667,NaN,NaN,NaN,NaN,NaN
222,Timor-Leste,TLS,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,0.180962,0.185017,0.174891,0.171932,0.163648,NaN,NaN,NaN,NaN,NaN
223,Tonga,TON,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.178588,0.172592,0.166040,0.159435,0.153309,0.147936,...,1.112637,1.176967,1.276514,1.128883,0.983562,NaN,NaN,NaN,NaN,NaN
224,Trinidad and Tobago,TTO,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,3.042576,5.318141,8.225570,1.466683,4.201774,5.694904,...,36.816763,35.455298,36.569448,38.337841,37.140054,NaN,NaN,NaN,NaN,NaN
225,Tunisia,TUN,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.409211,0.413220,0.412987,0.438885,0.608626,0.532230,...,2.357974,2.403508,2.374157,2.535619,2.402456,NaN,NaN,NaN,NaN,NaN
226,Turkey,TUR,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.610473,0.615079,0.748241,0.765934,0.869390,0.883506,...,4.094889,4.055397,3.898959,4.121155,4.383105,NaN,NaN,NaN,NaN,NaN
227,Tuvalu,TUV,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
228,"Taiwan, China",TWN,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
229,Tanzania,TZA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.082261,0.067872,0.071734,0.072968,0.091197,0.099494,...,0.144041,0.147982,0.139973,0.150059,0.154935,NaN,NaN,NaN,NaN,NaN
230,Uganda,UGA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.062123,0.058093,0.059258,0.057791,0.063435,0.078242,...,0.104293,0.101919,0.105320,0.108297,0.110887,NaN,NaN,NaN,NaN,NaN
231,Ukraine,UKR,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,6.910708,6.724046,5.647014,6.638152,6.262352,NaN,NaN,NaN,NaN,NaN
232,Upper middle income,UMC,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1.288256,1.057435,0.957318,0.955719,0.982914,1.036033,...,4.689606,4.838241,5.074839,5.359268,5.710659,NaN,NaN,NaN,NaN,NaN
233,Uruguay,URY,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1.701583,1.602723,1.540657,1.639285,1.710101,2.049519,...,1.796306,2.471054,2.401221,1.912605,2.296201,NaN,NaN,NaN,NaN,NaN
234,United States,USA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,15.999779,15.681256,16.013937,16.482762,16.968119,17.451725,...,19.237460,18.489234,17.192379,17.484792,17.020216,NaN,NaN,NaN,NaN,NaN
235,Uzbekistan,UZB,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,4.391447,4.434466,3.912053,3.693268,3.914921,NaN,NaN,NaN,NaN,NaN
236,St. Vincent and the Grenadines,VCT,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.135902,0.133923,0.132214,0.174273,0.215513,0.170614,...,2.084879,2.116255,2.114512,2.146877,2.179923,NaN,NaN,NaN,NaN,NaN
237,"Venezuela, RB",VEN,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,7.005107,6.136886,6.155057,6.155748,5.973226,6.187252,...,5.868518,6.604892,6.525293,6.811756,6.416334,NaN,NaN,NaN,NaN,NaN
238,Virgin Islands (U.S.),VIR,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
239,Vietnam,VNM,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.215631,0.225435,0.258760,0.247579,0.314058,0.343354,...,1.352791,1.497496,1.636371,1.761695,1.971889,NaN,NaN,NaN,NaN,NaN
240,Vanuatu,VUT,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,0.594888,0.471728,0.864247,0.641714,...,0.433459,0.406839,0.508463,0.496591,0.591266,NaN,NaN,NaN,NaN,NaN
241,West Bank and Gaza,PSE,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,0.665297,0.570947,0.564578,0.534015,0.572407,NaN,NaN,NaN,NaN,NaN
242,World,WLD,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,3.096144,3.067062,3.138020,3.242364,3.358696,3.437595,...,4.686122,4.741826,4.663120,4.840436,4.944676,NaN,NaN,NaN,NaN,NaN
243,Samoa,WSM,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.135009,0.163529,0.158352,0.184019,0.208092,0.230869,...,1.026224,1.039490,1.072106,1.103871,1.252110,NaN,NaN,NaN,NaN,NaN
244,"Yemen, Rep.",YEM,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.703403,0.507631,0.728004,0.537606,0.658012,0.699574,...,0.981422,0.989905,1.026251,1.090060,0.919968,NaN,NaN,NaN,NaN,NaN
245,South Africa,ZAF,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,5.629718,5.694383,5.729712,5.799844,6.170936,6.467359,...,9.063326,9.506481,9.545495,8.957154,9.257216,NaN,NaN,NaN,NaN,NaN
246,"Congo, Dem. Rep.",COD,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.152228,0.150782,0.135559,0.139446,0.116926,0.142290,...,0.047312,0.048411,0.045604,0.049328,0.050303,NaN,NaN,NaN,NaN,NaN
247,Zambia,ZMB,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,0.950434,1.100197,...,0.150265,0.164692,0.184058,0.192079,0.212450,NaN,NaN,NaN,NaN,NaN
248,Zimbabwe,ZWE,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,1.045374,1.179176,...,0.731867,0.569255,0.600521,0.646073,0.691698,NaN,NaN,NaN,NaN,NaN

<h1, align=center>数据清洗</h1>

#### 观察这些数据，其质量有什么问题？我们应该如何解决这些问题？

例如，下面这些行有什么问题？

In [6]:
data.loc[[9,182,220,242]]

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,Unnamed: 60
9,American Samoa,ASM,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182,Puerto Rico,PRI,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
220,Tajikistan,TJK,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,0.463345,0.409462,0.382775,0.373873,0.358948,NaN,NaN,NaN,NaN,NaN
242,World,WLD,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,3.096144,3.067062,3.13802,3.242364,3.358696,3.437595,...,4.686122,4.741826,4.663120,4.840436,4.944676,NaN,NaN,NaN,NaN,NaN

## 数据质量的问题:
1. 有些行是多个国家的总和，而不是实际的国家(例如, "World").
2. 有些列是不相关的，可以被移除(例如, "Indicator Name").
3. 有些年份对于任何国家都没有数据(例如, 2015 到 2016).
4. 有些国家在任何年份都没有数据(例如, "American Samoa").

<br>

<h2> 1. 有些行是多个国家的总和，而不是实际的国家 (例如, "World"). </h2>

**目标:**  
移除不包含实际国家的行。幸运的是，世界银行(World Bank)提供了相应的元数据，表明了哪些行是国家，而哪些行是多个国家的总和。
- 导入countries_metadata.csv
- 在`Country Code`上将元数据与`data`合并

#### 获取 `countries_metadata.csv`

In [ ]:
!wget --output-document /resources/data/countries_metadata.csv https://ibm.box.com/shared/static/qh3o86mpij17ot7anydcmbwt41lwxvln.csv

#### 导入 `countries_metadata.csv`

In [3]:
metadata = pd.read_csv("resources/data/countries_metadata.csv", encoding = "utf-8")

In [6]:
metadata.head(10)

,Country Name,Country Code,Region,IncomeGroup,SpecialNotes,Unnamed: 5
0,Aruba,ABW,Latin America & Caribbean,High income: nonOECD,SNA data for 2000-2011 are updated from offici...,NaN
1,Afghanistan,AFG,South Asia,Low income,Fiscal year end: March 20; reporting period fo...,NaN
2,Angola,AGO,Sub-Saharan Africa,Upper middle income,"April 2013 database update: Based on IMF data,...",NaN
3,Albania,ALB,Europe & Central Asia,Upper middle income,NaN,NaN
4,Andorra,AND,Europe & Central Asia,High income: nonOECD,NaN,NaN
5,Arab World,ARB,NaN,NaN,Arab World aggregate. Arab World is composed o...,NaN
6,United Arab Emirates,ARE,Middle East & North Africa,High income: nonOECD,April 2013 database update: Based on data from...,NaN
7,Argentina,ARG,Latin America & Caribbean,High income: nonOECD,The base year has changed to 2004.,NaN
8,Armenia,ARM,Europe & Central Asia,Lower middle income,NaN,NaN
9,American Samoa,ASM,East Asia & Pacific,Upper middle income,NaN,NaN

#### 如何标识列出的"Country Name" 是一个国家还是一个多国构成的区域?

注意，当某一行是像"Arab World"这样的聚合区域时,  `Region` 和 `IncomeGroup` 总是 NaN (Not a Number). 我们可以用这条规则来移除所有不是国家的区域.

#### 在关键字`Country Code`上合并`data` 与 `metadata`

In [4]:
merge = pd.merge(data, metadata, on = "Country Code")

In [5]:
merge

,Country Name_x,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,Unnamed: 60,Country Name_y,Region,IncomeGroup,SpecialNotes,Unnamed: 5
0,Aruba,ABW,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Aruba,Latin America & Caribbean,High income: nonOECD,SNA data for 2000-2011 are updated from offici...,NaN
1,Andorra,AND,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Andorra,Europe & Central Asia,High income: nonOECD,NaN,NaN
2,Afghanistan,AFG,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.046068,0.053615,0.073781,0.074251,0.086317,0.101499,...,NaN,NaN,NaN,NaN,NaN,Afghanistan,South Asia,Low income,Fiscal year end: March 20; reporting period fo...,NaN
3,Angola,AGO,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.104357,0.084718,0.216025,0.206877,0.216174,0.206089,...,NaN,NaN,NaN,NaN,NaN,Angola,Sub-Saharan Africa,Upper middle income,"April 2013 database update: Based on IMF data,...",NaN
4,Albania,ALB,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1.258195,1.374186,1.439956,1.181681,1.111742,1.166099,...,NaN,NaN,NaN,NaN,NaN,Albania,Europe & Central Asia,Upper middle income,NaN,NaN
5,Arab World,ARB,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.643964,0.685501,0.761148,0.875124,0.999248,1.166075,...,NaN,NaN,NaN,NaN,NaN,Arab World,NaN,NaN,Arab World aggregate. Arab World is composed o...,NaN
6,United Arab Emirates,ARE,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.118786,0.108937,0.163355,0.175712,0.132651,0.146370,...,NaN,NaN,NaN,NaN,NaN,United Arab Emirates,Middle East & North Africa,High income: nonOECD,April 2013 database update: Based on data from...,NaN
7,Argentina,ARG,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,2.367473,2.442616,2.522392,2.316356,2.538380,2.641714,...,NaN,NaN,NaN,NaN,NaN,Argentina,Latin America & Caribbean,High income: nonOECD,The base year has changed to 2004.,NaN
8,Armenia,ARM,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Armenia,Europe & Central Asia,Lower middle income,NaN,NaN
9,American Samoa,ASM,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,American Samoa,East Asia & Pacific,Upper middle income,NaN,NaN
10,Antigua and Barbuda,ATG,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.670617,0.860441,1.823374,1.470175,1.567094,2.520359,...,NaN,NaN,NaN,NaN,NaN,Antigua and Barbuda,Latin America & Caribbean,High income: nonOECD,April 2012 database update: Based on official ...,NaN
11,Australia,AUS,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,8.582937,8.641569,8.835688,9.226440,9.759073,10.622321,...,NaN,NaN,NaN,NaN,NaN,Australia,East Asia & Pacific,High income: OECD,Fiscal year end: June 30; reporting period for...,NaN
12,Austria,AUT,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,4.373319,4.496362,4.755362,5.155194,5.391004,5.252197,...,NaN,NaN,NaN,NaN,NaN,Austria,Europe & Central Asia,High income: OECD,A simple multiplier is used to convert the nat...,NaN
13,Azerbaijan,AZE,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Azerbaijan,Europe & Central Asia,Upper middle income,April 2012 database update: National accounts ...,NaN
14,Burundi,BDI,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,0.015203,0.016155,0.015827,0.011910,...,NaN,NaN,NaN,NaN,NaN,Burundi,Sub-Saharan Africa,Low income,NaN,NaN
15,Belgium,BEL,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,9.941594,10.103872,10.641190,11.386929,11.053655,11.141656,...,NaN,NaN,NaN,NaN,NaN,Belgium,Europe & Central Asia,High income: OECD,A simple multiplier is used to convert the nat...,NaN
16,Benin,BEN,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.066354,0.052046,0.054202,0.047580,0.055295,0.057115,...,NaN,NaN,NaN,NaN,NaN,Benin,Sub-Saharan Africa,Low income,NaN,NaN
17,Burkina Faso,BFA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.009112,0.018730,0.017003,0.017504,0.021575,0.019841,...,NaN,NaN,NaN,NaN,NaN,Burkina Faso,Sub-Saharan Africa,Low income,NaN,NaN
18,Bangladesh,BGD,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Bangladesh,South Asia,Lower middle income,Fiscal year end: June 30; reporting period for...,NaN
19,Bulgaria,BGR,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,2.833901,3.269920,3.835892,4.259781,5.262988,5.645652,...,NaN,NaN,NaN,NaN,NaN,Bulgaria,Europe & Central Asia,Upper middle income,The new reference year for chain linked series...,NaN
20,Bahrain,BHR,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,3.542864,10.547396,9.193609,6.714156,8.747480,6.557022,...,NaN,NaN,NaN,NaN,NaN,Bahrain,Middle East & North Africa,High income: nonOECD,Based on official government statistics; the n...,NaN
21,"Bahamas, The",BHS,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,3.749831,4.746699,5.996432,5.558199,8.118597,9.399946,...,NaN,NaN,NaN,NaN,NaN,"Bahamas, The",Latin America & Caribbean,High income: nonOECD,NaN,NaN
22,Bosnia and Herzegovina,BIH,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Bosnia and Herzegovina,Europe & Central Asia,Upper middle income,Based on official government statistics for ch...,NaN
23,Belarus,BLR,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Belarus,Europe & Central Asia,Upper middle income,NaN,NaN
24,Belize,BLZ,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.477951,0.387219,0.715409,0.622357,0.818289,0.794763,...,NaN,NaN,NaN,NaN,NaN,Belize,Latin America & Caribbean,Upper middle income,NaN,NaN
25,Bermuda,BMU,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,3.551374,3.868484,3.383712,3.151929,4.124438,3.586487,...,NaN,NaN,NaN,NaN,NaN,Bermuda,North America,High income: nonOECD,NaN,NaN
26,Bolivia,BOL,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.272038,0.276621,0.286626,0.310159,0.371216,0.371151,...,NaN,NaN,NaN,NaN,NaN,Bolivia,Latin America & Caribbean,Lower middle income,NaN,NaN
27,Brazil,BRA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.647068,0.658625,0.697281,0.700749,0.694001,0.670372,...,NaN,NaN,NaN,NaN,NaN,Brazil,Latin America & Caribbean,Upper middle income,NaN,NaN
28,Barbados,BRB,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.746313,0.838899,1.119411,0.816330,0.766085,0.872454,...,NaN,NaN,NaN,NaN,NaN,Barbados,Latin America & Caribbean,High income: nonOECD,NaN,NaN
29,Brunei Darussalam,BRN,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,4.078179,3.552009,4.133422,3.798174,3.482289,3.254787,...,NaN,NaN,NaN,NaN,NaN,Brunei Darussalam,East Asia & Pacific,High income: nonOECD,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
218,Thailand,THA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.135586,0.146944,0.173130,0.185877,0.242240,0.234151,...,NaN,NaN,NaN,NaN,NaN,Thailand,East Asia & Pacific,Upper middle income,Fiscal year end: September 30; reporting perio...,NaN
219,Tajikistan,TJK,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Tajikistan,Europe & Central Asia,Lower middle income,NaN,NaN
220,Turkmenistan,TKM,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Turkmenistan,Europe & Central Asia,Upper middle income,"On January 1, 2009, the Turkmen manat was rede...",NaN
221,Timor-Leste,TLS,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Timor-Leste,East Asia & Pacific,Lower middle income,"Based on official government statistics, natio...",NaN
222,Tonga,TON,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.178588,0.172592,0.166040,0.159435,0.153309,0.147936,...,NaN,NaN,NaN,NaN,NaN,Tonga,East Asia & Pacific,Upper middle income,2013 national accounts estimates are based on ...,NaN
223,Trinidad and Tobago,TTO,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,3.042576,5.318141,8.225570,1.466683,4.201774,5.694904,...,NaN,NaN,NaN,NaN,NaN,Trinidad and Tobago,Latin America & Caribbean,High income: nonOECD,NaN,NaN
224,Tunisia,TUN,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.409211,0.413220,0.412987,0.438885,0.608626,0.532230,...,NaN,NaN,NaN,NaN,NaN,Tunisia,Middle East & North Africa,Upper middle income,National accounts data from 2005 onward have b...,NaN
225,Turkey,TUR,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.610473,0.615079,0.748241,0.765934,0.869390,0.883506,...,NaN,NaN,NaN,NaN,NaN,Turkey,Europe & Central Asia,Upper middle income,NaN,NaN
226,Tuvalu,TUV,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Tuvalu,East Asia & Pacific,Upper middle income,2013 national accounts estimates are based on ...,NaN
227,"Taiwan, China",TWN,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"Taiwan, China",East Asia & Pacific,High income: nonOECD,NaN,NaN
228,Tanzania,TZA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.082261,0.067872,0.071734,0.072968,0.091197,0.099494,...,NaN,NaN,NaN,NaN,NaN,Tanzania,Sub-Saharan Africa,Low income,The new base year is 2007. Tanzania reports us...,NaN
229,Uganda,UGA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.062123,0.058093,0.059258,0.057791,0.063435,0.078242,...,NaN,NaN,NaN,NaN,NaN,Uganda,Sub-Saharan Africa,Low income,Fiscal year end: June 30; reporting period for...,NaN
230,Ukraine,UKR,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Ukraine,Europe & Central Asia,Lower middle income,NaN,NaN
231,Upper middle income,UMC,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1.288256,1.057435,0.957318,0.955719,0.982914,1.036033,...,NaN,NaN,NaN,NaN,NaN,Upper middle income,NaN,NaN,Upper middle income group aggregate. Upper-mid...,NaN
232,Uruguay,URY,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1.701583,1.602723,1.540657,1.639285,1.710101,2.049519,...,NaN,NaN,NaN,NaN,NaN,Uruguay,Latin America & Caribbean,High income: nonOECD,"In 2011, the Central Bank revised national acc...",NaN
233,United States,USA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,15.999779,15.681256,16.013937,16.482762,16.968119,17.451725,...,NaN,NaN,NaN,NaN,NaN,United States,North America,High income: OECD,Fiscal year end: September 30; reporting perio...,NaN
234,Uzbekistan,UZB,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Uzbekistan,Europe & Central Asia,Lower middle income,NaN,NaN
235,St. Vincent and the Grenadines,VCT,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.135902,0.133923,0.132214,0.174273,0.215513,0.170614,...,NaN,NaN,NaN,NaN,NaN,St. Vincent and the Grenadines,Latin America & Caribbean,Upper middle income,April 2012 database update: Based on official ...,NaN
236,"Venezuela, RB",VEN,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,7.005107,6.136886,6.155057,6.155748,5.973226,6.187252,...,NaN,NaN,NaN,NaN,NaN,"Venezuela, RB",Latin America & Caribbean,High income: nonOECD,NaN,NaN
237,Virgin Islands (U.S.),VIR,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Virgin Islands (U.S.),Latin America & Caribbean,High income: nonOECD,NaN,NaN
238,Vietnam,VNM,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.215631,0.225435,0.258760,0.247579,0.314058,0.343354,...,NaN,NaN,NaN,NaN,NaN,Vietnam,East Asia & Pacific,Lower middle income,Based on data from the Vietnam Statistics Offi...,NaN
239,Vanuatu,VUT,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,0.594888,0.471728,0.864247,0.641714,...,NaN,NaN,NaN,NaN,NaN,Vanuatu,East Asia & Pacific,Lower middle income,2013 national accounts estimates are based on ...,NaN
240,West Bank and Gaza,PSE,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,West Bank and Gaza,Middle East & North Africa,Lower middle income,The new base year is 2004.,NaN
241,World,WLD,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,3.096144,3.067062,3.138020,3.242364,3.358696,3.437595,...,NaN,NaN,NaN,NaN,NaN,World,NaN,NaN,World aggregate.,NaN
242,Samoa,WSM,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.135009,0.163529,0.158352,0.184019,0.208092,0.230869,...,NaN,NaN,NaN,NaN,NaN,Samoa,East Asia & Pacific,Lower middle income,Fiscal year ends on June 30; reporting period ...,NaN
243,"Yemen, Rep.",YEM,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.703403,0.507631,0.728004,0.537606,0.658012,0.699574,...,NaN,NaN,NaN,NaN,NaN,"Yemen, Rep.",Middle East & North Africa,Lower middle income,Based on official government statistics and In...,NaN
244,South Africa,ZAF,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,5.629718,5.694383,5.729712,5.799844,6.170936,6.467359,...,NaN,NaN,NaN,NaN,NaN,South Africa,Sub-Saharan Africa,Upper middle income,Fiscal year end: March 31; reporting period fo...,NaN
245,"Congo, Dem. Rep.",COD,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.152228,0.150782,0.135559,0.139446,0.116926,0.142290,...,NaN,NaN,NaN,NaN,NaN,"Congo, Dem. Rep.",Sub-Saharan Africa,Low income,Based on official government statistics; the n...,NaN
246,Zambia,ZMB,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,0.950434,1.100197,...,NaN,NaN,NaN,NaN,NaN,Zambia,Sub-Saharan Africa,Lower middle income,The new base year is 2010. National accounts d...,NaN
247,Zimbabwe,ZWE,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,1.045374,1.179176,...,NaN,NaN,NaN,NaN,NaN,Zimbabwe,Sub-Saharan Africa,Low income,Fiscal year end: June 30; reporting period for...,NaN

**注意:** 当某一行不是实际的国家时，'Region'的值就是 NaN.

#### 移除 `Region` 为 NaN 的行

In [6]:
merge = merge[pd.notnull(merge['Region'])]

In [7]:
merge

,Country Name_x,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,Unnamed: 60,Country Name_y,Region,IncomeGroup,SpecialNotes,Unnamed: 5
0,Aruba,ABW,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Aruba,Latin America & Caribbean,High income: nonOECD,SNA data for 2000-2011 are updated from offici...,NaN
1,Andorra,AND,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Andorra,Europe & Central Asia,High income: nonOECD,NaN,NaN
2,Afghanistan,AFG,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.046068,0.053615,0.073781,0.074251,0.086317,0.101499,...,NaN,NaN,NaN,NaN,NaN,Afghanistan,South Asia,Low income,Fiscal year end: March 20; reporting period fo...,NaN
3,Angola,AGO,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.104357,0.084718,0.216025,0.206877,0.216174,0.206089,...,NaN,NaN,NaN,NaN,NaN,Angola,Sub-Saharan Africa,Upper middle income,"April 2013 database update: Based on IMF data,...",NaN
4,Albania,ALB,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1.258195,1.374186,1.439956,1.181681,1.111742,1.166099,...,NaN,NaN,NaN,NaN,NaN,Albania,Europe & Central Asia,Upper middle income,NaN,NaN
6,United Arab Emirates,ARE,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.118786,0.108937,0.163355,0.175712,0.132651,0.146370,...,NaN,NaN,NaN,NaN,NaN,United Arab Emirates,Middle East & North Africa,High income: nonOECD,April 2013 database update: Based on data from...,NaN
7,Argentina,ARG,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,2.367473,2.442616,2.522392,2.316356,2.538380,2.641714,...,NaN,NaN,NaN,NaN,NaN,Argentina,Latin America & Caribbean,High income: nonOECD,The base year has changed to 2004.,NaN
8,Armenia,ARM,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Armenia,Europe & Central Asia,Lower middle income,NaN,NaN
9,American Samoa,ASM,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,American Samoa,East Asia & Pacific,Upper middle income,NaN,NaN
10,Antigua and Barbuda,ATG,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.670617,0.860441,1.823374,1.470175,1.567094,2.520359,...,NaN,NaN,NaN,NaN,NaN,Antigua and Barbuda,Latin America & Caribbean,High income: nonOECD,April 2012 database update: Based on official ...,NaN
11,Australia,AUS,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,8.582937,8.641569,8.835688,9.226440,9.759073,10.622321,...,NaN,NaN,NaN,NaN,NaN,Australia,East Asia & Pacific,High income: OECD,Fiscal year end: June 30; reporting period for...,NaN
12,Austria,AUT,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,4.373319,4.496362,4.755362,5.155194,5.391004,5.252197,...,NaN,NaN,NaN,NaN,NaN,Austria,Europe & Central Asia,High income: OECD,A simple multiplier is used to convert the nat...,NaN
13,Azerbaijan,AZE,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Azerbaijan,Europe & Central Asia,Upper middle income,April 2012 database update: National accounts ...,NaN
14,Burundi,BDI,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,0.015203,0.016155,0.015827,0.011910,...,NaN,NaN,NaN,NaN,NaN,Burundi,Sub-Saharan Africa,Low income,NaN,NaN
15,Belgium,BEL,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,9.941594,10.103872,10.641190,11.386929,11.053655,11.141656,...,NaN,NaN,NaN,NaN,NaN,Belgium,Europe & Central Asia,High income: OECD,A simple multiplier is used to convert the nat...,NaN
16,Benin,BEN,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.066354,0.052046,0.054202,0.047580,0.055295,0.057115,...,NaN,NaN,NaN,NaN,NaN,Benin,Sub-Saharan Africa,Low income,NaN,NaN
17,Burkina Faso,BFA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.009112,0.018730,0.017003,0.017504,0.021575,0.019841,...,NaN,NaN,NaN,NaN,NaN,Burkina Faso,Sub-Saharan Africa,Low income,NaN,NaN
18,Bangladesh,BGD,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Bangladesh,South Asia,Lower middle income,Fiscal year end: June 30; reporting period for...,NaN
19,Bulgaria,BGR,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,2.833901,3.269920,3.835892,4.259781,5.262988,5.645652,...,NaN,NaN,NaN,NaN,NaN,Bulgaria,Europe & Central Asia,Upper middle income,The new reference year for chain linked series...,NaN
20,Bahrain,BHR,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,3.542864,10.547396,9.193609,6.714156,8.747480,6.557022,...,NaN,NaN,NaN,NaN,NaN,Bahrain,Middle East & North Africa,High income: nonOECD,Based on official government statistics; the n...,NaN
21,"Bahamas, The",BHS,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,3.749831,4.746699,5.996432,5.558199,8.118597,9.399946,...,NaN,NaN,NaN,NaN,NaN,"Bahamas, The",Latin America & Caribbean,High income: nonOECD,NaN,NaN
22,Bosnia and Herzegovina,BIH,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Bosnia and Herzegovina,Europe & Central Asia,Upper middle income,Based on official government statistics for ch...,NaN
23,Belarus,BLR,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Belarus,Europe & Central Asia,Upper middle income,NaN,NaN
24,Belize,BLZ,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.477951,0.387219,0.715409,0.622357,0.818289,0.794763,...,NaN,NaN,NaN,NaN,NaN,Belize,Latin America & Caribbean,Upper middle income,NaN,NaN
25,Bermuda,BMU,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,3.551374,3.868484,3.383712,3.151929,4.124438,3.586487,...,NaN,NaN,NaN,NaN,NaN,Bermuda,North America,High income: nonOECD,NaN,NaN
26,Bolivia,BOL,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.272038,0.276621,0.286626,0.310159,0.371216,0.371151,...,NaN,NaN,NaN,NaN,NaN,Bolivia,Latin America & Caribbean,Lower middle income,NaN,NaN
27,Brazil,BRA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.647068,0.658625,0.697281,0.700749,0.694001,0.670372,...,NaN,NaN,NaN,NaN,NaN,Brazil,Latin America & Caribbean,Upper middle income,NaN,NaN
28,Barbados,BRB,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.746313,0.838899,1.119411,0.816330,0.766085,0.872454,...,NaN,NaN,NaN,NaN,NaN,Barbados,Latin America & Caribbean,High income: nonOECD,NaN,NaN
29,Brunei Darussalam,BRN,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,4.078179,3.552009,4.133422,3.798174,3.482289,3.254787,...,NaN,NaN,NaN,NaN,NaN,Brunei Darussalam,East Asia & Pacific,High income: nonOECD,NaN,NaN
30,Bhutan,BTN,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Bhutan,South Asia,Lower middle income,April 2013 database update: Data were updated ...,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
216,Chad,TCD,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.018319,0.016769,0.027012,0.028785,0.030485,0.032119,...,NaN,NaN,NaN,NaN,NaN,Chad,Sub-Saharan Africa,Low income,"Based on IMF data, national accounts data have...",NaN
217,Togo,TGO,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.041762,0.057386,0.054570,0.065171,0.079426,0.077262,...,NaN,NaN,NaN,NaN,NaN,Togo,Sub-Saharan Africa,Low income,"April 2013 database update: Based on IMF data,...",NaN
218,Thailand,THA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.135586,0.146944,0.173130,0.185877,0.242240,0.234151,...,NaN,NaN,NaN,NaN,NaN,Thailand,East Asia & Pacific,Upper middle income,Fiscal year end: September 30; reporting perio...,NaN
219,Tajikistan,TJK,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Tajikistan,Europe & Central Asia,Lower middle income,NaN,NaN
220,Turkmenistan,TKM,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Turkmenistan,Europe & Central Asia,Upper middle income,"On January 1, 2009, the Turkmen manat was rede...",NaN
221,Timor-Leste,TLS,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Timor-Leste,East Asia & Pacific,Lower middle income,"Based on official government statistics, natio...",NaN
222,Tonga,TON,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.178588,0.172592,0.166040,0.159435,0.153309,0.147936,...,NaN,NaN,NaN,NaN,NaN,Tonga,East Asia & Pacific,Upper middle income,2013 national accounts estimates are based on ...,NaN
223,Trinidad and Tobago,TTO,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,3.042576,5.318141,8.225570,1.466683,4.201774,5.694904,...,NaN,NaN,NaN,NaN,NaN,Trinidad and Tobago,Latin America & Caribbean,High income: nonOECD,NaN,NaN
224,Tunisia,TUN,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.409211,0.413220,0.412987,0.438885,0.608626,0.532230,...,NaN,NaN,NaN,NaN,NaN,Tunisia,Middle East & North Africa,Upper middle income,National accounts data from 2005 onward have b...,NaN
225,Turkey,TUR,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.610473,0.615079,0.748241,0.765934,0.869390,0.883506,...,NaN,NaN,NaN,NaN,NaN,Turkey,Europe & Central Asia,Upper middle income,NaN,NaN
226,Tuvalu,TUV,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Tuvalu,East Asia & Pacific,Upper middle income,2013 national accounts estimates are based on ...,NaN
227,"Taiwan, China",TWN,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"Taiwan, China",East Asia & Pacific,High income: nonOECD,NaN,NaN
228,Tanzania,TZA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.082261,0.067872,0.071734,0.072968,0.091197,0.099494,...,NaN,NaN,NaN,NaN,NaN,Tanzania,Sub-Saharan Africa,Low income,The new base year is 2007. Tanzania reports us...,NaN
229,Uganda,UGA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.062123,0.058093,0.059258,0.057791,0.063435,0.078242,...,NaN,NaN,NaN,NaN,NaN,Uganda,Sub-Saharan Africa,Low income,Fiscal year end: June 30; reporting period for...,NaN
230,Ukraine,UKR,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Ukraine,Europe & Central Asia,Lower middle income,NaN,NaN
232,Uruguay,URY,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1.701583,1.602723,1.540657,1.639285,1.710101,2.049519,...,NaN,NaN,NaN,NaN,NaN,Uruguay,Latin America & Caribbean,High income: nonOECD,"In 2011, the Central Bank revised national acc...",NaN
233,United States,USA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,15.999779,15.681256,16.013937,16.482762,16.968119,17.451725,...,NaN,NaN,NaN,NaN,NaN,United States,North America,High income: OECD,Fiscal year end: September 30; reporting perio...,NaN
234,Uzbekistan,UZB,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Uzbekistan,Europe & Central Asia,Lower middle income,NaN,NaN
235,St. Vincent and the Grenadines,VCT,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.135902,0.133923,0.132214,0.174273,0.215513,0.170614,...,NaN,NaN,NaN,NaN,NaN,St. Vincent and the Grenadines,Latin America & Caribbean,Upper middle income,April 2012 database update: Based on official ...,NaN
236,"Venezuela, RB",VEN,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,7.005107,6.136886,6.155057,6.155748,5.973226,6.187252,...,NaN,NaN,NaN,NaN,NaN,"Venezuela, RB",Latin America & Caribbean,High income: nonOECD,NaN,NaN
237,Virgin Islands (U.S.),VIR,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Virgin Islands (U.S.),Latin America & Caribbean,High income: nonOECD,NaN,NaN
238,Vietnam,VNM,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.215631,0.225435,0.258760,0.247579,0.314058,0.343354,...,NaN,NaN,NaN,NaN,NaN,Vietnam,East Asia & Pacific,Lower middle income,Based on data from the Vietnam Statistics Offi...,NaN
239,Vanuatu,VUT,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,0.594888,0.471728,0.864247,0.641714,...,NaN,NaN,NaN,NaN,NaN,Vanuatu,East Asia & Pacific,Lower middle income,2013 national accounts estimates are based on ...,NaN
240,West Bank and Gaza,PSE,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,West Bank and Gaza,Middle East & North Africa,Lower middle income,The new base year is 2004.,NaN
242,Samoa,WSM,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.135009,0.163529,0.158352,0.184019,0.208092,0.230869,...,NaN,NaN,NaN,NaN,NaN,Samoa,East Asia & Pacific,Lower middle income,Fiscal year ends on June 30; reporting period ...,NaN
243,"Yemen, Rep.",YEM,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.703403,0.507631,0.728004,0.537606,0.658012,0.699574,...,NaN,NaN,NaN,NaN,NaN,"Yemen, Rep.",Middle East & North Africa,Lower middle income,Based on official government statistics and In...,NaN
244,South Africa,ZAF,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,5.629718,5.694383,5.729712,5.799844,6.170936,6.467359,...,NaN,NaN,NaN,NaN,NaN,South Africa,Sub-Saharan Africa,Upper middle income,Fiscal year end: March 31; reporting period fo...,NaN
245,"Congo, Dem. Rep.",COD,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.152228,0.150782,0.135559,0.139446,0.116926,0.142290,...,NaN,NaN,NaN,NaN,NaN,"Congo, Dem. Rep.",Sub-Saharan Africa,Low income,Based on official government statistics; the n...,NaN
246,Zambia,ZMB,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,0.950434,1.100197,...,NaN,NaN,NaN,NaN,NaN,Zambia,Sub-Saharan Africa,Lower middle income,The new base year is 2010. National accounts d...,NaN
247,Zimbabwe,ZWE,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,1.045374,1.179176,...,NaN,NaN,NaN,NaN,NaN,Zimbabwe,Sub-Saharan Africa,Low income,Fiscal year end: June 30; reporting period for...,NaN

<br>

<h2>2. 有些列是不相关的，可以被移除.</h2>

**目标:**  
移除下列不相关的列:
- 第 3 列: **"Indicator Name"**
- 第 4 列: **"Indicator Code"**

In [8]:
merge.columns

Index(['Country Name_x', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', 'Unnamed: 60', 'Country Name_y', 'Region',
       'IncomeGroup', 'SpecialNotes', 'Unnamed: 5'],
      dtype='object')

In [11]:
? merge.drop

In [9]:
merge = merge.drop(merge.columns[[60,65]], axis=1) # Note: zero indexed
merge = merge.drop('Indicator Name', axis=1)
merge = merge.drop('Indicator Code', 1)

In [10]:
merge.columns

Index(['Country Name_x', 'Country Code', '1960', '1961', '1962', '1963',
       '1964', '1965', '1966', '1967', '1968', '1969', '1970', '1971', '1972',
       '1973', '1974', '1975', '1976', '1977', '1978', '1979', '1980', '1981',
       '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990',
       '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999',
       '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015',
       'Country Name_y', 'Region', 'IncomeGroup', 'SpecialNotes'],
      dtype='object')

<h2>3. 有些年份对于任何国家都没有数据.</h2>

**目标:**  
计算每一年的数据行数，NaN值不计算在内.

In [11]:
merge.count()

Country Name_x    215
Country Code      215
1960              151
1961              152
1962              153
1963              154
1964              159
1965              159
1966              159
1967              159
1968              158
1969              159
1970              161
1971              162
1972              164
1973              164
1974              164
1975              164
1976              164
1977              164
1978              164
1979              164
1980              164
1981              164
1982              164
1983              164
1984              164
1985              164
1986              165
1987              165
                 ...
1990              167
1991              168
1992              188
1993              188
1994              189
1995              192
1996              191
1997              193
1998              193
1999              193
2000              194
2001              194
2002              195
2003              195
2004              195
2005              197
2006              198
2007              199
2008              199
2009              199
2010              199
2011              199
2012                0
2013                0
2014                0
2015                0
Country Name_y    215
Region            215
IncomeGroup       215
SpecialNotes      136
Length: 62, dtype: int64

查看2015年，看起来所有行都不包含2015年的数据.

In [12]:
merge['2015']

0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
6     NaN
7     NaN
8     NaN
9     NaN
10    NaN
11    NaN
12    NaN
13    NaN
14    NaN
15    NaN
16    NaN
17    NaN
18    NaN
19    NaN
20    NaN
21    NaN
22    NaN
23    NaN
24    NaN
25    NaN
26    NaN
27    NaN
28    NaN
29    NaN
30    NaN
       ..
216   NaN
217   NaN
218   NaN
219   NaN
220   NaN
221   NaN
222   NaN
223   NaN
224   NaN
225   NaN
226   NaN
227   NaN
228   NaN
229   NaN
230   NaN
232   NaN
233   NaN
234   NaN
235   NaN
236   NaN
237   NaN
238   NaN
239   NaN
240   NaN
242   NaN
243   NaN
244   NaN
245   NaN
246   NaN
247   NaN
Name: 2015, Length: 215, dtype: float64

#### 移除任何行都不包含数据的列

In [13]:
merge = merge.drop(['2012','2013','2014','2015'], axis = 1)

In [14]:
merge.count() #double-check that columns have been removed

Country Name_x    215
Country Code      215
1960              151
1961              152
1962              153
1963              154
1964              159
1965              159
1966              159
1967              159
1968              158
1969              159
1970              161
1971              162
1972              164
1973              164
1974              164
1975              164
1976              164
1977              164
1978              164
1979              164
1980              164
1981              164
1982              164
1983              164
1984              164
1985              164
1986              165
1987              165
1988              165
1989              165
1990              167
1991              168
1992              188
1993              188
1994              189
1995              192
1996              191
1997              193
1998              193
1999              193
2000              194
2001              194
2002              195
2003              195
2004              195
2005              197
2006              198
2007              199
2008              199
2009              199
2010              199
2011              199
Country Name_y    215
Region            215
IncomeGroup       215
SpecialNotes      136
dtype: int64

<h2>4. 有些国家在任何年份都没有数据.</h2>

**目标:**  
使用行平均值来确定哪些国家不包含任何数据.

计算每一行的平均值(在 axis 1 上).

In [19]:
merge.mean(axis=1) #Takes the mean of all numeric quantities by row

0      21.766264
1       6.926680
2       0.139113
3       0.610377
4       1.657433
6      31.844877
7       3.563240
8       1.230824
10      5.106829
11     14.364944
12      7.200894
13      4.257653
14      0.032397
15     11.372211
16      0.184605
17      0.060372
18      0.174804
19      7.181894
20     19.867874
21     12.989496
22      3.336662
23      6.194563
24      1.384584
25      7.125285
26      0.906155
27      1.406963
28      3.143447
29     21.497854
30      0.331486
31      1.603745
         ...
213     3.217774
214     2.300493
215     3.412094
216     0.031805
217     0.197678
218     1.726478
219     0.459464
220     8.943359
221     0.177336
222     0.630603
223    15.802071
224     1.482407
225     2.310214
228     0.114896
229     0.073733
230     7.434661
232     1.742226
233    19.303472
234     4.623481
235     0.870765
236     5.959301
238     0.598837
239     0.517542
240     0.471235
242     0.612593
243     0.737396
244     8.230187
245     0.104890
246     0.495172
247     1.228627
Length: 199, dtype: float64

正如你所见，在不包含任何数据的行中出现了 NaN.

#### 移除所有年份中不包含任何数据的行

In [20]:
merge = merge[pd.notnull(merge.mean(axis=1))]

<hr>

<h2, align = "center">数据清洗 ... 完成!</h2>

### 为了方便起见，重新命名

In [21]:
mydf = merge
mydf

,Country Name_x,Country Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2006,2007,2008,2009,2010,2011,Country Name_y,Region,IncomeGroup,SpecialNotes
0,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,24.766706,25.613715,24.750133,24.876706,24.182702,23.922412,Aruba,Latin America & Caribbean,High income: nonOECD,SNA data for 2000-2011 are updated from offici...
1,Andorra,AND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.553477,6.350868,6.296125,6.049173,6.124770,5.968685,Andorra,Europe & Central Asia,High income: nonOECD,NaN
2,Afghanistan,AFG,0.046068,0.053615,0.073781,0.074251,0.086317,0.101499,0.107674,0.123782,...,0.065816,0.088141,0.158962,0.249074,0.302936,0.425262,Afghanistan,South Asia,Low income,Fiscal year end: March 20; reporting period fo...
3,Angola,AGO,0.104357,0.084718,0.216025,0.206877,0.216174,0.206089,0.265164,0.166659,...,1.200877,1.311096,1.369425,1.430873,1.401654,1.354008,Angola,Sub-Saharan Africa,Upper middle income,"April 2013 database update: Based on IMF data,..."
4,Albania,ALB,1.258195,1.374186,1.439956,1.181681,1.111742,1.166099,1.333055,1.363746,...,1.291548,1.507536,1.580113,1.533178,1.515632,1.607038,Albania,Europe & Central Asia,Upper middle income,NaN
6,United Arab Emirates,ARE,0.118786,0.108937,0.163355,0.175712,0.132651,0.146370,0.159359,5.336737,...,23.954519,23.195067,23.033600,21.102296,20.120957,20.433838,United Arab Emirates,Middle East & North Africa,High income: nonOECD,April 2013 database update: Based on data from...
7,Argentina,ARG,2.367473,2.442616,2.522392,2.316356,2.538380,2.641714,2.792654,2.858163,...,4.404525,4.496834,4.744178,4.427960,4.342272,4.562049,Argentina,Latin America & Caribbean,High income: nonOECD,The base year has changed to 2004.
8,Armenia,ARM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.459637,1.694755,1.868611,1.469961,1.422998,1.671657,Armenia,Europe & Central Asia,Lower middle income,NaN
10,Antigua and Barbuda,ATG,0.670617,0.860441,1.823374,1.470175,1.567094,2.520359,5.727992,9.108061,...,5.096290,5.561525,5.628319,5.906292,6.011269,5.823804,Antigua and Barbuda,Latin America & Caribbean,High income: nonOECD,April 2012 database update: Based on official ...
11,Australia,AUS,8.582937,8.641569,8.835688,9.226440,9.759073,10.622321,10.328092,10.955625,...,17.293874,17.467002,17.704080,17.631833,16.710904,16.519210,Australia,East Asia & Pacific,High income: OECD,Fiscal year end: June 30; reporting period for...
12,Austria,AUT,4.373319,4.496362,4.755362,5.155194,5.391004,5.252197,5.361725,5.417737,...,8.733507,8.405093,8.262046,7.608851,8.127693,7.769983,Austria,Europe & Central Asia,High income: OECD,A simple multiplier is used to convert the nat...
13,Azerbaijan,AZE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.616300,3.555340,4.051383,3.565668,3.388226,3.647379,Azerbaijan,Europe & Central Asia,Upper middle income,April 2012 database update: National accounts ...
14,Burundi,BDI,NaN,NaN,0.015203,0.016155,0.015827,0.011910,0.015115,0.014735,...,0.022757,0.021964,0.021615,0.020868,0.020542,0.021350,Burundi,Sub-Saharan Africa,Low income,NaN
15,Belgium,BEL,9.941594,10.103872,10.641190,11.386929,11.053655,11.141656,11.042019,11.217257,...,10.122879,9.713718,9.699599,9.634776,9.989976,8.849398,Belgium,Europe & Central Asia,High income: OECD,A simple multiplier is used to convert the nat...
16,Benin,BEN,0.066354,0.052046,0.054202,0.047580,0.055295,0.057115,0.042395,0.052320,...,0.458608,0.516299,0.500183,0.514278,0.541771,0.509962,Benin,Sub-Saharan Africa,Low income,NaN
17,Burkina Faso,BFA,0.009112,0.018730,0.017003,0.017504,0.021575,0.019841,0.019534,0.019217,...,0.098340,0.115429,0.115427,0.109774,0.107673,0.119981,Burkina Faso,Sub-Saharan Africa,Low income,NaN
18,Bangladesh,BGD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.332346,0.319840,0.334440,0.352155,0.370360,0.372017,Bangladesh,South Asia,Lower middle income,Fiscal year end: June 30; reporting period for...
19,Bulgaria,BGR,2.833901,3.269920,3.835892,4.259781,5.262988,5.645652,5.905437,6.638369,...,6.357101,6.916687,6.778939,5.729716,5.966884,6.714383,Bulgaria,Europe & Central Asia,Upper middle income,The new reference year for chain linked series...
20,Bahrain,BHR,3.542864,10.547396,9.193609,6.714156,8.747480,6.557022,3.384358,5.121012,...,20.014759,21.443296,21.519995,18.136234,18.435025,17.947330,Bahrain,Middle East & North Africa,High income: nonOECD,Based on official government statistics; the n...
21,"Bahamas, The",BHS,3.749831,4.746699,5.996432,5.558199,8.118597,9.399946,7.466085,11.173504,...,4.531866,4.521354,2.998089,4.630520,6.829321,5.199844,"Bahamas, The",Latin America & Caribbean,High income: nonOECD,NaN
22,Bosnia and Herzegovina,BIH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.575983,4.580387,5.231547,5.371890,5.513994,6.196652,Bosnia and Herzegovina,Europe & Central Asia,Upper middle income,Based on official government statistics for ch...
23,Belarus,BLR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.437868,6.305629,6.592749,6.341939,6.556550,6.682510,Belarus,Europe & Central Asia,Upper middle income,NaN
24,Belize,BLZ,0.477951,0.387219,0.715409,0.622357,0.818289,0.794763,0.737800,1.073754,...,1.488236,1.536094,1.473196,1.495185,1.721709,1.670904,Belize,Latin America & Caribbean,Upper middle income,NaN
25,Bermuda,BMU,3.551374,3.868484,3.383712,3.151929,4.124438,3.586487,3.954608,4.090115,...,8.070208,7.968299,5.955020,7.095329,7.320036,6.077210,Bermuda,North America,High income: nonOECD,NaN
26,Bolivia,BOL,0.272038,0.276621,0.286626,0.310159,0.371216,0.371151,0.407085,0.446570,...,1.586749,1.318204,1.412189,1.459841,1.547659,1.599499,Bolivia,Latin America & Caribbean,Lower middle income,NaN
27,Brazil,BRA,0.647068,0.658625,0.697281,0.700749,0.694001,0.670372,0.743448,0.744967,...,1.823133,1.884034,1.990429,1.866522,2.113415,2.191394,Brazil,Latin America & Caribbean,Upper middle income,NaN
28,Barbados,BRB,0.746313,0.838899,1.119411,0.816330,0.766085,0.872454,1.134077,1.425763,...,4.986395,5.178741,5.871114,5.833678,5.430338,5.580178,Barbados,Latin America & Caribbean,High income: nonOECD,NaN
29,Brunei Darussalam,BRN,4.078179,3.552009,4.133422,3.798174,3.482289,3.254787,4.573085,3.905218,...,11.604115,24.178409,26.338271,22.149029,21.873222,24.392013,Brunei Darussalam,East Asia & Pacific,High income: nonOECD,NaN
30,Bhutan,BTN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.588330,0.575768,0.606779,0.549146,0.677145,0.766206,Bhutan,South Asia,Lower middle income,April 2013 database update: Data were updated ...
31,Botswana,BWA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.450894,2.435256,2.530551,2.192295,2.555293,2.323345,Botswana,Sub-Saharan Africa,Upper middle income,Fiscal year end: March 31; reporting period fo...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
213,Seychelles,SYC,NaN,NaN,NaN,0.162343,0.158326,0.154400,0.150599,0.146942,...,8.669031,7.546776,7.970272,8.485120,7.679581,6.835706,Seychelles,Sub-Saharan Africa,High income: nonOECD,April 2013 database update: Based on official ...
214,Syrian Arab Republic,SYR,0.701818,0.646400,0.654417,0.714140,0.835933,0.681322,0.881376,0.799209,...,2.861436,3.421673,3.360814,3.012318,2.971741,2.736991,Syrian Arab Republic,Middle East & North Africa,Lower middle income,April 2013 database update: Based on data from...
215,Turks and Caicos Islands,TCA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.173757,5.762099,6.094875,5.940523,6.152486,6.010149,Turks and Caicos Islands,Latin America & Caribbean,High income: nonOECD,NaN
216,Chad,TCD,0.018319,0.016769,0.027012,0.028785,0.030485,0.032119,0.025001,0.034149,...,0.039050,0.042863,0.045756,0.042689,0.043463,0.043830,Chad,Sub-Saharan Africa,Low income,"Based on IMF data, national accounts data have..."
217,Togo,TGO,0.041762,0.057386,0.054570,0.065171,0.079426,0.077262,0.101285,0.106723,...,0.213028,0.239677,0.285948,0.270614,0.269107,0.319444,Togo,Sub-Saharan Africa,Low income,"April 2013 database update: Based on IMF data,..."
218,Thailand,THA,0.135586,0.146944,0.173130,0.185877,0.242240,0.234151,0.289096,0.360203,...,3.992198,3.994687,3.984060,4.198512,4.470426,4.534492,Thailand,East Asia & Pacific,Upper middle income,Fiscal year end: September 30; reporting perio...
219,Tajikistan,TJK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.382553,0.463345,0.409462,0.382775,0.373873,0.358948,Tajikistan,Europe & Central Asia,Lower middle income,NaN
220,Turkmenistan,TKM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.722725,11.535622,11.557572,10.110661,11.358111,12.183667,Turkmenistan,Europe & Central Asia,Upper middle income,"On January 1, 2009, the Turkmen manat was rede..."
221,Timor-Leste,TLS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.180395,0.180962,0.185017,0.174891,0.171932,0.163648,Timor-Leste,East Asia & Pacific,Lower middle income,"Based on official government statistics, natio..."
222,Tonga,TON,0.178588,0.172592,0.166040,0.159435,0.153309,0.147936,0.143266,0.185558,...,1.264396,1.112637,1.176967,1.276514,1.128883,0.983562,Tonga,East Asia & Pacific,Upper middle income,2013 national accounts estimates are based on ...
223,Trinidad and Tobago,TTO,3.042576,5.318141,8.225570,1.466683,4.201774,5.694904,4.408841,5.009898,...,35.630491,36.816763,35.455298,36.569448,38.337841,37.140054,Trinidad and Tobago,Latin America & Caribbean,High income: nonOECD,NaN
224,Tunisia,TUN,0.409211,0.413220,0.412987,0.438885,0.608626,0.532230,0.609953,0.638871,...,2.270173,2.357974,2.403508,2.374157,2.535619,2.402456,Tunisia,Middle East & North Africa,Upper middle income,National accounts data from 2005 onward have b...
225,Turkey,TUR,0.610473,0.615079,0.748241,0.765934,0.869390,0.883506,0.994607,1.033139,...,3.807814,4.094889,4.055397,3.898959,4.121155,4.383105,Turkey,Europe & Central Asia,Upper middle income,NaN
228,Tanzania,TZA,0.082261,0.067872,0.071734,0.072968,0.091197,0.099494,0.113919,0.141879,...,0.149737,0.144041,0.147982,0.139973,0.150059,0.154935,Tanzania,Sub-Saharan Africa,Low income,The new base year is 2007. Tanzania reports us...
229,Uganda,UGA,0.062123,0.058093,0.059258,0.057791,0.063435,0.078242,0.088439,0.094446,...,0.091546,0.104293,0.101919,0.105320,0.108297,0.110887,Uganda,Sub-Saharan Africa,Low income,Fiscal year end: June 30; reporting period for...
230,Ukraine,UKR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.977981,6.910708,6.724046,5.647014,6.638152,6.262352,Ukraine,Europe & Central Asia,Lower middle income,NaN
232,Uruguay,URY,1.701583,1.602723,1.540657,1.639285,1.710101,2.049519,1.985093,1.776101,...,1.995854,1.796306,2.471054,2.401221,1.912605,2.296201,Uruguay,Latin America & Caribbean,High income: nonOECD,"In 2011, the Central Bank revised national acc..."
233,United States,USA,15.999779,15.681256,16.013937,16.482762,16.968119,17.451725,18.121073,18.598318,...,19.116139,19.237460,18.489234,17.192379,17.484792,17.020216,United States,North America,High income: OECD,Fiscal year end: September 30; reporting perio...
234,Uzbekistan,UZB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.436685,4.391447,4.434466,3.912053,3.693268,3.914921,Uzbekistan,Europe & Central Asia,Lower middle income,NaN
235,St. Vincent and the Grenadines,VCT,0.135902,0.133923,0.132214,0.174273,0.215513,0.170614,0.211087,0.208979,...,2.020237,2.084879,2.116255,2.114512,2.146877,2.179923,St. Vincent and the Grenadines,Latin America & Caribbean,Upper middle income,April 2012 database update: Based on official ...
236,"Venezuela, RB",VEN,7.005107,6.136886,6.155057,6.155748,5.973226,6.187252,5.604755,6.251423,...,6.227287,5.868518,6.604892,6.525293,6.811756,6.416334,"Venezuela, RB",Latin America & Caribbean,High income: nonOECD,NaN
238,Vietnam,VNM,0.215631,0.225435,0.258760,0.247579,0.314058,0.343354,0.490532,0.574906,...,1.233276,1.352791,1.497496,1.636371,1.761695,1.971889,Vietnam,East Asia & Pacific,Lower middle income,Based on data from the Vietnam Statistics Offi...
239,Vanuatu,VUT,NaN,NaN,0.594888,0.471728,0.864247,0.641714,1.007813,1.074161,...,0.222103,0.433459,0.406839,0.508463,0.496591,0.591266,Vanuatu,East Asia & Pacific,Lower middle income,2013 national accounts estimates are based on ...
240,West Bank and Gaza,PSE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.665292,0.665297,0.570947,0.564578,0.534015,0.572407,West Bank and Gaza,Middle East & North Africa,Lower middle income,The new base year is 2004.
242,Samoa,WSM,0.135009,0.163529,0.158352,0.184019,0.208092,0.230869,0.196416,0.191283,...,0.972077,1.026224,1.039490,1.072106,1.103871,1.252110,Samoa,East Asia & Pacific,Lower middle income,Fiscal year ends on June 30; reporting period ...
243,"Yemen, Rep.",YEM,0.703403,0.507631,0.728004,0.537606,0.658012,0.699574,0.605767,0.524197,...,0.985853,0.981422,0.989905,1.026251,1.090060,0.919968,"Yemen, Rep.",Middle East & North Africa,Lower middle income,Based on official government statistics and In...
244,South Africa,ZAF,5.629718,5.694383,5.729712,5.799844,6.170936,6.467359,6.332753,6.465648,...,8.802475,9.063326,9.506481,9.545495,8.957154,9.257216,South Africa,Sub-Saharan Africa,Upper middle income,Fiscal year end: March 31; reporting period fo...
245,"Congo, Dem. Rep.",COD,0.152228,0.150782,0.135559,0.139446,0.116926,0.142290,0.134675,0.124706,...,0.045579,0.047312,0.048411,0.045604,0.049328,0.050303,"Congo, Dem. Rep.",Sub-Saharan Africa,Low income,Based on official government statistics; the n...
246,Zambia,ZMB,NaN,NaN,NaN,NaN,0.950434,1.100197,0.953158,1.263628,...,0.179774,0.150265,0.164692,0.184058,0.192079,0.212450,Zambia,Sub-Saharan Africa,Lower middle income,The new base year is 2010. National accounts d...
247,Zimbabwe,ZWE,NaN,NaN,NaN,NaN,1.045374,1.179176,1.323656,1.122961,...,0.780721,0.731867,0.569255,0.600521,0.646073,0.691698,Zimbabwe,Sub-Saharan Africa,Low income,Fiscal year end: June 30; reporting period for...

<hr>

代码汇总:

In [ ]:
import pandas as pd

#Download data
#!wget --output-document co2emissions.csv https://ibm.box.com/shared/static/3yzxbbizo49bkl8cnjw15tymzfwkycj4.csv
#!wget --output-document countries_metadata.csv https://ibm.box.com/shared/static/qh3o86mpij17ot7anydcmbwt41lwxvln.csv
    
#Import data
data = pd.read_csv("resources/data/co2emissions.csv", skiprows = 4)
metadata = pd.read_csv("resources/data/countries_metadata.csv", encoding = "utf-8")

#Merge data
merge = pd.merge(data, metadata, on = "Country Code")

#Remove non-country regions
merge = merge[pd.notnull(merge['Region'])]

#Drop some columns with no data
merge = merge.drop(merge.columns[[61,66]], axis=1)
merge = merge.drop(['Indicator Name', 'Indicator Code','2012', '2013', '2014', '2015'], 1)

#Drop some rows with no data
merge = merge[pd.notnull(merge.mean(axis=1))]

#Rename
mydf = merge

In [ ]:
mydf

想要导出为 csv 文件?

In [21]:
mydf.to_csv("resources/data/co2emissions_cleaned.csv", index = False) #See Recent Data for exported csv

<hr></hr>
<div class="alert alert-success alertsuccess" style="margin-top: 0px">
<h4> [tip] 数据清洗的规则来源于对业务的理解 </h4>
<p></p>
从上面的清洗过程我们可以看到，无论是如何区分国家和地区，还是剔除不包含数据的国家，都需要明确的清洗规则，而清洗规则是依靠我们对业务的理解而确定的，单纯从数据本身出发，是无法制定出这样的规则的。
<li>这再次说明，数据分析是业务驱动的，并且需要业务模型的支持。</li>
<li>计算机能够帮助我们的，是依靠强大的计算能力来加速数据分析的过程。</li>
<p></p>
</div>
<hr></hr>